In [725]:
import pandas as pd
import numpy as np

# Preparation

- Impoart Raw Data
- Create relavent dictionaries

In [726]:
# Create a dictionary to record manipulated data
EP                                          = {}
df_dict                                     = {}

# Dataframe of raw data from ASPEN
T                                           = [720,740,760,780,800,820]
P                                           = [1,2,3,4,5,6]

for i in T:
    df_dict[f'T={i}K,P=6atm']               = pd.read_excel('Book1.xlsx',sheet_name=f'T={i}K,P=6atm')

for i in P:
    df_dict[f'T=820K,P={i}atm']             = pd.read_excel('Book1.xlsx',sheet_name=f'T=820K,P={i}atm')

for i in df_dict.keys():
    EP[i]                                   = {}    

df                                          = pd.read_excel('Book1.xlsx',sheet_name='T=820K,P=6atm')

# Permanently changes the pandas settings
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# Display Dataframe

df_dict['T=820K,P=6atm']

,Row/Case,Status,Length,Diameter,XTOL,INTOL,INBENZ,INMETH,INACET,INPXYL,INMXYL,INOXYL,INETH,INWATER,OUTOL,OUTBENZ,OUTMETH,OUTACET,OUTPXYL,OUTMXYL,OUTOXYL,OUTETH,OUTWATER,TOLFEED,METHFEED,FURNACEQ,REACTORQ
0,1,OK,4.500000,0.450000,0.056014,2479.051330,2.824517,2479.051330,18.411628,0,0,0,0,0,2340.189350,10.862819,2347.429000,18.411628,127.137544,1.843065,1.843065,4.418478,131.622329,138.861974,366.365229,140.885075,-2.398381
1,3,Errors,4.829828,0.482983,0.116722,1253.695020,2.992779,1253.695020,13.099989,0,0,0,0,0,1107.361010,12.543658,1103.338640,13.099989,127.137442,4.822844,4.822844,11.562062,150.356376,146.334005,260.690246,71.364287,-2.529316
2,4,OK,5.183831,0.518383,0.162211,957.193210,3.178461,957.193210,12.616707,0,0,0,0,0,801.925772,14.572892,784.593946,12.616707,127.137598,8.367705,8.367705,20.060344,172.599263,155.267436,251.058658,54.559598,-2.683152
3,5,OK,5.563780,0.556378,0.196846,842.894353,3.376786,842.894353,13.231599,0,0,0,0,0,676.974064,17.017870,643.983074,13.231599,127.137662,12.570771,12.570771,30.136579,198.911279,165.920291,263.309586,48.058557,-2.864148
4,6,OK,5.971578,0.597158,0.223666,798.476498,3.638402,798.476498,14.414916,0,0,0,0,0,619.884805,20.016564,568.551851,14.414916,127.137649,17.537941,17.537941,42.044639,229.924648,178.591693,286.779833,45.532134,-3.076368
5,7,OK,6.409266,0.640927,0.244742,791.227621,3.949224,791.227532,16.056292,0,0,0,0,0,597.581345,23.662002,524.820551,16.056292,127.137616,23.397941,23.397941,56.093130,266.406980,193.646281,318.889032,45.120693,-3.324638
6,8,OK,6.879034,0.687903,0.261675,808.379245,4.320403,808.379245,17.973328,0,0,0,0,0,596.846492,28.097957,499.080003,17.973328,127.137681,30.308758,30.308758,72.660799,309.299242,211.532753,359.207242,46.095687,-3.614832
7,9,OK,7.383234,0.738323,0.275782,843.875650,4.753235,843.875650,20.514010,0,0,0,0,0,611.149592,33.480457,484.340532,20.514010,127.137613,38.430612,38.430612,92.131751,359.535118,232.726058,407.969171,48.119410,-3.952501
8,10,OK,7.924389,0.792439,0.287990,895.337049,5.261100,895.337049,23.456135,0,0,0,0,0,637.488908,40.018483,476.970146,23.456135,127.137635,47.976561,47.976561,115.016764,418.366902,257.848144,466.063917,51.052083,-4.345225
9,11,OK,8.505208,0.850521,0.299119,961.395444,5.869059,961.395444,26.922463,0,0,0,0,0,673.824008,47.967573,474.329631,26.922463,127.137665,59.167628,59.167628,141.845703,487.065812,287.571435,534.498775,54.818440,-4.800326
10,12,OK,9.128598,0.912860,0.309613,1042.331910,6.586371,1042.331910,30.986879,0,0,0,0,0,719.611887,57.620464,475.146665,30.986879,127.137601,72.274166,72.274166,173.266705,567.185249,322.720028,614.699917,59.435143,-5.326724
11,13,OK,9.797680,0.979768,0.319877,1138.712510,7.440419,1138.712510,35.591933,0,0,0,0,0,774.464546,69.349221,478.262187,35.591933,127.137629,87.600767,87.600767,210.009981,660.450324,364.247969,708.276544,64.933125,-5.933984
12,14,OK,10.515802,1.051580,0.330089,1252.068420,8.426203,1252.068420,41.066793,0,0,0,0,0,838.774375,83.561025,483.150556,41.066793,127.137564,105.510831,105.510831,252.946732,768.917868,413.294049,817.232924,71.404200,-6.633486
13,15,OK,11.286559,1.128656,0.340462,1383.929650,9.609852,1383.929650,47.425311,0,0,0,0,0,912.754468,100.824783,489.079235,47.425311,127.137645,126.411304,126.411304,303.052547,894.850418,471.175184,943.758341,78.936365,-7.437180
14,16,OK,12.113808,1.211381,0.351049,1536.744960,11.002240,1536.744960,54.798818,0,0,0,0,0,997.272341,121.764762,495.821404,54.798818,127.137529,150.786286,150.786286,361.487989,1040.923560,539.472623,1090.505700,87.669975,-8.358970
15,17,Errors,13.001691,1.300169,0.362013,1712.584350,12.652548,1712.584350,63.381982,0,0,0,0,0,1092.606930,147.159243,502.583421,63.381982,127.143509,179.163607,179.163607,429.518451,1210.000930,619.977411,1260.259260,97.726587,-9.412967
16,18,Errors,13.954652,1.395465,0.373348,1914.723000,14.589402,1914.722950,73.275671,0,0,0,0,0,1199.865910,177.930383,509.183427,73.275671,127.146273,212.184918,212.184918,508.682198,1405.539520,714.857093,1456.457860,109.293203,-10.615857
17,19,OK,14.977460,1.497746,0.385144,2146.112240,16.868620,2146.112240,84.555659,0,0,0,0,0,1319.550050,215.206199,514.942565,84.555659,127.137573,250.543522,250.543522,600.641320,1631.169680,826.562195,1682.663930,122.539186,-11.983619
18,20,Errors,16.075235,1.607523,0.397323,2411.507310,19.545004,2411.507310,97.747756,0,0,0,0,0,1453.360190,260.337174,519.999103,97.747756,127.143458,295.105746,295.105746,707.472712,1891.508200,958.147126,1943.508100,137.743967,-13.537784
19,21,Errors,17.253471,1.725347,0.409937,2715.177950,22.721746,2715.177950,112.753609,0,0,0,0,0,1602.126730,314.992503,523.762476,112.753609,127.138087,346.821185,346.821185,831.452886,2191.415470,1113.051210,2243.791710,155.149455,-15.298052
20,22,Errors,18.518066,1.851807,0.422942,3062.632700,26.438370,3062.632620,130.099504,0,0,0,0,0,1767.317460,381.084615,526.288530,130.099504,127.137923,406.765537,406.765537,975.160670,2536.344090,1295.315230,2588.972930,175.077468,-17.285694
21,23,OK,19.875350,1.987535,0.436448,3458.675170,30.805064,3458.675170,149.986815,0,0,0,0,0,1949.143910,460.960861,526.605181,149.986815,127.137670,476.118894,476.118894,1141.425160,2932.069990,1509.531250,2984.730500,197.806736,-19.520028
22,24,OK,21.332117,2.133212,0.450377,3910.968940,35.945849,3910.968910,172.791062,0,0,0,0,0,2149.558910,557.462116,524.922071,172.791062,127.137694,556.378034,556.378034,1333.834670,3386.046840,1761.410030,3438.539040,223.780436,-22.028050
23,25,OK,22.895657,2.289566,0.464775,4426.438800,41.988240,4426.438800,198.882840,0,0,0,0,0,2369.138650,673.936080,520.755281,198.882840,127.137673,649.107320,649.107320,1556.139520,3905.683520,2057.300150,3957.759050,253.401096,-24.830526
24,26,OK,24.573797,2.457380,0.479691,5012.267460,49.067383,5012.267490,228.638412,0,0,0,0,0,2607.926700,814.316464,513.736830,228.638412,127.137570,755.977056,755.977056,1812.344030,4498.530660,2404.340760,4549.904350,287.086791,-27.942601
25,27,OK,26.374936,2.637494,0.495091,5678.913060,57.378362,5678.913060,262.580921,0,0,0,0,0,2867.334400,983.427969,503.948346,262.580921,127.137657,879.195696,879.195696,2107.742630,5174.964710,2811.578650,5225.359550,325.444530,-31.391973
26,28,OK,28.308090,2.830809,0.511104,6433.390020,67.104749,6433.390070,301.095694,0,0,0,0,0,3145.258080,1186.736840,490.656139,301.095694,127.137680,1020.681090,1020.681090,2446.933090,5942.733930,3288.131920,5991.799550,368.886712,-35.178037
27,29,OK,30.382935,3.038294,0.527778,7285.204770,78.467195,7285.204770,344.666989,0,0,0,0,0,3440.233990,1430.744540,473.715986,344.666989,127.137694,1182.777870,1182.777870,2835.536350,6811.488790,3844.970790,6858.860390,417.969432,-39.303523
28,30,OK,32.609856,3.260986,0.545125,8245.692250,91.731706,8245.692250,393.850224,0,0,0,0,0,3750.760300,1723.123990,453.422761,393.850224,127.137667,1368.200990,1368.200990,3280.061060,7792.269490,4494.931940,7837.611760,473.354770,-43.768974
29,31,OK,35.000000,3.500000,0.563193,9326.091240,107.189629,9326.091240,449.206642,0,0,0,0,0,4073.704920,2072.738620,429.886729,449.206642,127.137669,1579.849830,1579.849830,3787.458080,8896.204510,5252.386320,8939.193180,535.701905,-48.562041

# Reactor + Catalyst Cost

In [727]:
# Parameters
MandS                                   = 1800
Fc                                      = 2.3625
bed_voyage                              = 0.45
catalyst_density                        = 1310
price_catalyst                          = 1.1
plant_runtime                           = 8150

for i in df_dict.keys():
    df = df_dict[i]

    # Reactor Installation Cost
    installation_cost                   = (MandS/280)*101.3 * (df['Diameter']*3.281)**1.066* (df['Length']*3.281)**0.802 * (2.18+Fc)
    total_capital_investment            = 2.096*installation_cost
    annual_capital_investment           = 1/3*total_capital_investment

    # Reactor Catalyst Operating Costs
    reactor_volume                      = np.pi*df['Diameter']**2*df['Length']/4
    catalyst_cost                       = reactor_volume*(1-bed_voyage)*catalyst_density*price_catalyst
    annual_catalyst_cost                = catalyst_cost * plant_runtime/96

    # Total annual reactor cost
    annual_reactor_cost                 = annual_capital_investment+annual_catalyst_cost

    # Create a dataframe for reactor cost
    Reactor_Cost = pd.DataFrame({
        'Reactor_Cost'                  : {},
        'XTOL'                          : df['XTOL'],
        'Diameter(ft)'                  : df['Diameter']*3.281,
        'Length(ft)'                    : df['Length']*3.281,
        'installation_cost'             : installation_cost,
        "total_capital_investment"      : total_capital_investment,
        "annual_capital_investment"     : annual_capital_investment,
        "catalyst_cost"                 : catalyst_cost,
        "annual_catalyst_cost"          : annual_catalyst_cost,
        'annual_reactor_cost'           : annual_reactor_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Reactor_Cost']                  = Reactor_Cost

# Display 
EP['T=820K,P=6atm']['Reactor_Cost']

,Reactor_Cost,XTOL,Diameter(ft),Length(ft),installation_cost,total_capital_investment,annual_capital_investment,catalyst_cost,annual_catalyst_cost,annual_reactor_cost
0,NaN,0.056014,1.476450,14.764500,3.882572e+04,8.137870e+04,2.712623e+04,567.223340,4.815490e+04,7.528113e+04
1,NaN,0.116722,1.584667,15.846666,4.431011e+04,9.287400e+04,3.095800e+04,701.312472,5.953851e+04,9.049651e+04
2,NaN,0.162211,1.700815,17.008149,5.056922e+04,1.059931e+05,3.533103e+04,867.099688,7.361315e+04,1.089442e+05
3,NaN,0.196846,1.825476,18.254764,5.771246e+04,1.209653e+05,4.032178e+04,1072.078285,9.101498e+04,1.313368e+05
4,NaN,0.223666,1.959275,19.592749,6.586474e+04,1.380525e+05,4.601750e+04,1325.512926,1.125305e+05,1.585480e+05
5,NaN,0.244742,2.102880,21.028802,7.516859e+04,1.575534e+05,5.251779e+04,1638.858418,1.391323e+05,1.916500e+05
6,NaN,0.261675,2.257011,22.570110,8.578666e+04,1.798088e+05,5.993628e+04,2026.277418,1.720225e+05,2.319588e+05
7,NaN,0.275782,2.422439,24.224389,9.790461e+04,2.052081e+05,6.840269e+04,2505.280595,2.126879e+05,2.810906e+05
8,NaN,0.287990,2.599992,25.999919,1.117343e+05,2.341951e+05,7.806504e+04,3097.518023,2.629664e+05,3.410314e+05
9,NaN,0.299119,2.790559,27.905586,1.275175e+05,2.672768e+05,8.909225e+04,3829.757810,3.251305e+05,4.142227e+05
10,NaN,0.309613,2.995093,29.950930,1.455303e+05,3.050314e+05,1.016771e+05,4735.095908,4.019899e+05,5.036671e+05
11,NaN,0.319877,3.214619,32.146187,1.660874e+05,3.481192e+05,1.160397e+05,5854.451987,4.970186e+05,6.130583e+05
12,NaN,0.330089,3.450235,34.502345,1.895484e+05,3.972934e+05,1.324311e+05,7238.418940,6.145116e+05,7.469427e+05
13,NaN,0.340462,3.703120,37.031199,2.163234e+05,4.534138e+05,1.511379e+05,8949.549729,7.597795e+05,9.109174e+05
14,NaN,0.351049,3.974541,39.745405,2.468805e+05,5.174616e+05,1.724872e+05,11065.184318,9.393880e+05,1.111875e+06
15,NaN,0.362013,4.265855,42.658550,2.817541e+05,5.905566e+05,1.968522e+05,13680.945813,1.161455e+06,1.358307e+06
16,NaN,0.373348,4.578521,45.785214,3.215538e+05,6.739767e+05,2.246589e+05,16915.061950,1.436018e+06,1.660677e+06
17,NaN,0.385144,4.914105,49.141046,3.669754e+05,7.691805e+05,2.563935e+05,20913.708811,1.775487e+06,2.031880e+06
18,NaN,0.397323,5.274285,52.742845,4.188132e+05,8.778325e+05,2.926108e+05,25857.618696,2.195204e+06,2.487815e+06
19,NaN,0.409937,5.660864,56.608639,4.779734e+05,1.001832e+06,3.339441e+05,31970.247723,2.714141e+06,3.048085e+06
20,NaN,0.422942,6.075778,60.757776,5.454904e+05,1.143348e+06,3.811160e+05,39527.875203,3.355752e+06,3.736868e+06
21,NaN,0.436448,6.521102,65.211025,6.225447e+05,1.304854e+06,4.349512e+05,48872.092435,4.149037e+06,4.583988e+06
22,NaN,0.450377,6.999067,69.990675,7.104834e+05,1.489173e+06,4.963910e+05,60425.242821,5.129851e+06,5.626242e+06
23,NaN,0.464775,7.512065,75.120650,8.108440e+05,1.699529e+06,5.665097e+05,74709.507107,6.342526e+06,6.909036e+06
24,NaN,0.479691,8.062663,80.626627,9.253812e+05,1.939599e+06,6.465330e+05,92370.509692,7.841871e+06,8.488404e+06
25,NaN,0.495091,8.653617,86.536166,1.056098e+06,2.213581e+06,7.378602e+05,114206.496756,9.695656e+06,1.043352e+07
26,NaN,0.511104,9.287884,92.878845,1.205279e+06,2.526264e+06,8.420880e+05,141204.415605,1.198767e+07,1.282975e+07
27,NaN,0.527778,9.968641,99.686411,1.375532e+06,2.883116e+06,9.610387e+05,174584.525417,1.482150e+07,1.578254e+07
28,NaN,0.545125,10.699294,106.992939,1.569836e+06,3.290376e+06,1.096792e+06,215855.547612,1.832524e+07,1.942203e+07
29,NaN,0.563193,11.483500,114.835000,1.791586e+06,3.755164e+06,1.251721e+06,266882.861049,2.265724e+07,2.390896e+07

# Reactor Heat Effect

In [728]:
# Parameters
U                                               = 113.565
Fc                                              = 3.7935

for i in range(len(df_dict.keys())):
    # Extract data from dictioanry
    j                                           = list(df_dict.keys())[i]
    df                                          = df_dict[j]

    # Parameters for each condition
    if i <= 5:
        TLM                                         = ((T[i]-288)-(T[i]-308))/np.log((T[i]-288)/(T[i]-308))
    else:
        TLM                                         = ((T[-1]-288)-(T[-1]-308))/np.log((T[-1]-288)/(T[-1]-308))
        
    Area                                        = -df_dict[j]['REACTORQ']*10**6/(U*TLM)*10.764

    # Installation Cost
    installation_cost                           = MandS/280*101.3*Area**0.65*(2.29+Fc)
    total_capital_investment                    = 2.09*installation_cost
    annual_capital_investment                   = 1/3*total_capital_investment

    # Create a dataframe for reactor heating cost
    Reactor_Heating_Cost = pd.DataFrame({
        'Reactor_Heating_Cost'                  : {},
        'XTOL'                                  : df['XTOL'],
        'installation_cost'                     : installation_cost,
        "total_capital_investment"              : total_capital_investment,
        "annual_capital_investment"             : annual_capital_investment,
        'annual_reactor_heating_cost'           : annual_capital_investment
    })

    # Save the dataframe in the dictionary
    EP[j]['Reactor_Heating_Cost']               = Reactor_Heating_Cost

# Display 
EP['T=820K,P=6atm']['Reactor_Heating_Cost']

,Reactor_Heating_Cost,XTOL,installation_cost,total_capital_investment,annual_capital_investment,annual_reactor_heating_cost
0,NaN,0.056014,2.057060e+05,4.299255e+05,1.433085e+05,1.433085e+05
1,NaN,0.116722,2.129375e+05,4.450393e+05,1.483464e+05,1.483464e+05
2,NaN,0.162211,2.212685e+05,4.624511e+05,1.541504e+05,1.541504e+05
3,NaN,0.196846,2.308592e+05,4.824957e+05,1.608319e+05,1.608319e+05
4,NaN,0.223666,2.418383e+05,5.054420e+05,1.684807e+05,1.684807e+05
5,NaN,0.244742,2.543513e+05,5.315942e+05,1.771981e+05,1.771981e+05
6,NaN,0.261675,2.685700e+05,5.613112e+05,1.871037e+05,1.871037e+05
7,NaN,0.275782,2.846210e+05,5.948578e+05,1.982859e+05,1.982859e+05
8,NaN,0.287990,3.026970e+05,6.326367e+05,2.108789e+05,2.108789e+05
9,NaN,0.299119,3.229431e+05,6.749512e+05,2.249837e+05,2.249837e+05
10,NaN,0.309613,3.455407e+05,7.221801e+05,2.407267e+05,2.407267e+05
11,NaN,0.319877,3.706596e+05,7.746786e+05,2.582262e+05,2.582262e+05
12,NaN,0.330089,3.985036e+05,8.328726e+05,2.776242e+05,2.776242e+05
13,NaN,0.340462,4.292551e+05,8.971432e+05,2.990477e+05,2.990477e+05
14,NaN,0.351049,4.631263e+05,9.679339e+05,3.226446e+05,3.226446e+05
15,NaN,0.362013,5.002906e+05,1.045607e+06,3.485358e+05,3.485358e+05
16,NaN,0.373348,5.409672e+05,1.130621e+06,3.768738e+05,3.768738e+05
17,NaN,0.385144,5.853051e+05,1.223288e+06,4.077626e+05,4.077626e+05
18,NaN,0.397323,6.335867e+05,1.324196e+06,4.413987e+05,4.413987e+05
19,NaN,0.409937,6.859834e+05,1.433705e+06,4.779018e+05,4.779018e+05
20,NaN,0.422942,7.426711e+05,1.552183e+06,5.173942e+05,5.173942e+05
21,NaN,0.436448,8.037341e+05,1.679804e+06,5.599348e+05,5.599348e+05
22,NaN,0.450377,8.694298e+05,1.817108e+06,6.057028e+05,6.057028e+05
23,NaN,0.464775,9.398120e+05,1.964207e+06,6.547357e+05,6.547357e+05
24,NaN,0.479691,1.014784e+06,2.120898e+06,7.069661e+05,7.069661e+05
25,NaN,0.495091,1.094541e+06,2.287592e+06,7.625305e+05,7.625305e+05
26,NaN,0.511104,1.178628e+06,2.463332e+06,8.211106e+05,8.211106e+05
27,NaN,0.527778,1.266720e+06,2.647444e+06,8.824815e+05,8.824815e+05
28,NaN,0.545125,1.358496e+06,2.839256e+06,9.464186e+05,9.464186e+05
29,NaN,0.563193,1.453427e+06,3.037662e+06,1.012554e+06,1.012554e+06

# Cooling Water Cost

In [729]:
# Parameters
density_water =	999.13
Cp_water = 4188.60
price_coolingwater = 8.12
delta_temp = 20.00

for i in df_dict.keys():
    # Extract data from dictionary
    df = df_dict[i]

    # Calculate parameter
    volume_flowrate = -1*df['REACTORQ']*10**6/(density_water*Cp_water*delta_temp)*3600*plant_runtime
    annual_water_cost = volume_flowrate/1000*price_coolingwater

    # Create a dataframe for water cost
    Water_Cost = pd.DataFrame({
        'Water_Cost'                            : {},
        'XTOL'                                  : df['XTOL'],
        'volume_flowrate'                       : volume_flowrate,
        "annual_water_cost"                     : annual_water_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Water_Cost']               = Water_Cost

EP['T=820K,P=6atm']['Water_Cost']

    Water_Cost      XTOL  volume_flowrate  annual_water_cost
0          NaN  0.056014     8.407317e+05        6826.741062
1          NaN  0.116722     8.866296e+05        7199.432443
2          NaN  0.162211     9.405557e+05        7637.312317
3          NaN  0.196846     1.004002e+06        8152.499299
4          NaN  0.223666     1.078394e+06        8756.561481
5          NaN  0.244742     1.165423e+06        9463.235114
6          NaN  0.261675     1.267148e+06       10289.243141
7          NaN  0.275782     1.385515e+06       11250.380041
8          NaN  0.287990     1.523181e+06       12368.229149
9          NaN  0.299119     1.682713e+06       13663.625767
10         NaN  0.309613     1.867237e+06       15161.964725
11         NaN  0.319877     2.080107e+06       16890.465591
12         NaN  0.330089     2.325311e+06       18881.524959
13         NaN  0.340462     2.607039e+06       21169.156032
14         NaN  0.351049     2.930164e+06       23792.935206
15         NaN  0.362013     3.299634e+06       26793.028513
16         NaN  0.373348     3.721297e+06       30216.929512
17         NaN  0.385144     4.200754e+06       34110.121498
18         NaN  0.397323     4.745553e+06       38533.887598
19         NaN  0.409937     5.362599e+06       43544.307780
20         NaN  0.422942     6.059350e+06       49201.922601
21         NaN  0.436448     6.842576e+06       55561.720723
22         NaN  0.450377     7.721742e+06       62700.542588
23         NaN  0.464775     8.704126e+06       70677.500146
24         NaN  0.479691     9.795036e+06       79535.696366
25         NaN  0.495091     1.100418e+07       89353.974412
26         NaN  0.511104     1.233136e+07      100130.607945
27         NaN  0.527778     1.377751e+07      111873.374457
28         NaN  0.545125     1.534283e+07      124583.812709
29         NaN  0.563193     1.702300e+07      138226.779678

# Furnace Heating Cost

In [730]:
# Parameters
price_fuel                                      = 3.8
Fc                                              = 1.75

for i in df_dict.keys():
    df = df_dict[i]
    Furnace_Q                                   = df['FURNACEQ']*(3412141.6/10**6)            # in UNIT: BTU * 10^6 

    # Annual Operating Cost
    annual_operating_cost                       = Furnace_Q*price_fuel*plant_runtime

    # installation cost
    installation_cost                           = MandS/280 * 5.52*10**3 * Furnace_Q**0.85 * (1.27+Fc)
    total_capital_investment                    = 2.09*installation_cost
    annual_capital_investment                   = 1/3*total_capital_investment

    # Total annual furnace cost
    annual_furnace_cost                         = annual_operating_cost+annual_capital_investment

    # Create a dataframe for furnace cost
    Furnace_Cost = pd.DataFrame({
        'Furnace_Cost'                          : {},
        'XTOL'                                  : df['XTOL'],
        'annual_operating_cost'                 : annual_operating_cost,
        'installation_cost'                     : installation_cost,
        "total_capital_investment"              : total_capital_investment,
        "annual_capital_investment"             : annual_capital_investment,
        'annual_furnace_cost'                   : annual_furnace_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Furnace_Cost']                       = Furnace_Cost

# Display 
EP['T=820K,P=6atm']['Furnace_Cost']

,Furnace_Cost,XTOL,annual_operating_cost,installation_cost,total_capital_investment,annual_capital_investment,annual_furnace_cost
0,NaN,0.056014,1.488789e+07,2.040181e+07,4.263979e+07,1.421326e+07,2.910115e+07
1,NaN,0.116722,7.541351e+06,1.144438e+07,2.391875e+07,7.972918e+06,1.551427e+07
2,NaN,0.162211,5.765532e+06,9.109069e+06,1.903795e+07,6.345984e+06,1.211152e+07
3,NaN,0.196846,5.078541e+06,8.177840e+06,1.709169e+07,5.697228e+06,1.077577e+07
4,NaN,0.223666,4.811564e+06,7.810949e+06,1.632488e+07,5.441628e+06,1.025319e+07
5,NaN,0.244742,4.768085e+06,7.750913e+06,1.619941e+07,5.399803e+06,1.016789e+07
6,NaN,0.261675,4.871117e+06,7.893048e+06,1.649647e+07,5.498823e+06,1.036994e+07
7,NaN,0.275782,5.084972e+06,8.186641e+06,1.711008e+07,5.703360e+06,1.078833e+07
8,NaN,0.287990,5.394879e+06,8.608846e+06,1.799249e+07,5.997496e+06,1.139238e+07
9,NaN,0.299119,5.792885e+06,9.145789e+06,1.911470e+07,6.371566e+06,1.216445e+07
10,NaN,0.309613,6.280751e+06,9.796486e+06,2.047465e+07,6.824885e+06,1.310564e+07
11,NaN,0.319877,6.861745e+06,1.056160e+07,2.207375e+07,7.357917e+06,1.421966e+07
12,NaN,0.330089,7.545569e+06,1.144982e+07,2.393012e+07,7.976708e+06,1.552228e+07
13,NaN,0.340462,8.341523e+06,1.246864e+07,2.605945e+07,8.686485e+06,1.702801e+07
14,NaN,0.351049,9.264439e+06,1.363191e+07,2.849069e+07,9.496898e+06,1.876134e+07
15,NaN,0.362013,1.032716e+07,1.495011e+07,3.124572e+07,1.041524e+07,2.074240e+07
16,NaN,0.373348,1.154945e+07,1.644136e+07,3.436244e+07,1.145415e+07,2.300360e+07
17,NaN,0.385144,1.294921e+07,1.812038e+07,3.787159e+07,1.262386e+07,2.557307e+07
18,NaN,0.397323,1.455596e+07,2.001452e+07,4.183035e+07,1.394345e+07,2.849941e+07
19,NaN,0.409937,1.639527e+07,2.214477e+07,4.628257e+07,1.542752e+07,3.182279e+07
20,NaN,0.422942,1.850114e+07,2.454026e+07,5.128915e+07,1.709638e+07,3.559752e+07
21,NaN,0.436448,2.090303e+07,2.722315e+07,5.689639e+07,1.896546e+07,3.986850e+07
22,NaN,0.450377,2.364778e+07,3.023307e+07,6.318712e+07,2.106237e+07,4.471015e+07
23,NaN,0.464775,2.677791e+07,3.360243e+07,7.022908e+07,2.340969e+07,5.018761e+07
24,NaN,0.479691,3.033762e+07,3.736326e+07,7.808920e+07,2.602973e+07,5.636735e+07
25,NaN,0.495091,3.439103e+07,4.156607e+07,8.687308e+07,2.895769e+07,6.334873e+07
26,NaN,0.511104,3.898174e+07,4.623731e+07,9.663597e+07,3.221199e+07,7.119374e+07
27,NaN,0.527778,4.416851e+07,5.141695e+07,1.074614e+08,3.582048e+07,7.998899e+07
28,NaN,0.545125,5.002130e+07,5.715342e+07,1.194506e+08,3.981688e+07,8.983819e+07
29,NaN,0.563193,5.660978e+07,6.349188e+07,1.326980e+08,4.423268e+07,1.008425e+08

# Pump Cost

In [731]:
# Parameters
molar_volume = {
    'Toluene'                                   : 0.105993113,
    'Methanol'                                  : 0.040330365,
    'Benzene'                                   : 0.088961406,
    'Acetonitrile'                              : 0.052487604
}
pressure_drop                                   = 506625
price_electricity                               = 0.035

for i in df_dict.keys():
    df = df_dict[i]

    shaft_work                                  = (df['INTOL']*molar_volume['Toluene'] 
                                                   + df["INMETH"]*molar_volume['Methanol'] 
                                                   + df['INBENZ']*molar_volume['Benzene'] 
                                                   + df['INACET']*molar_volume['Acetonitrile']) * pressure_drop / (3600)

    shaft_work_hp = shaft_work/745.7

    # Annual Operating Cost 
    annual_operating_cost                       = shaft_work_hp * price_electricity * plant_runtime

    # Installation Cost
    installation_cost                           = (MandS/1415)*(-1100+2100*shaft_work_hp**0.6)
    total_capital_investment                    = 2.09*installation_cost
    annual_capital_investment                   = 1/3*total_capital_investment

    # Total annual furnace cost
    annual_pump_cost                           = annual_operating_cost+annual_capital_investment

    # Create a dataframe for furnace cost
    Pump_Cost = pd.DataFrame({
        'Pump_Cost'                             : {},
        'XTOL'                                  : df['XTOL'],
        'annual_operating_cost'                 : annual_operating_cost,
        'installation_cost'                     : installation_cost,
        "total_capital_investment"              : total_capital_investment,
        "annual_capital_investment"             : annual_capital_investment,
        'annual_pump_cost'                      : annual_pump_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Pump_Cost']                         = Pump_Cost

# Display 
EP['T=820K,P=6atm']['Pump_Cost']

,Pump_Cost,XTOL,annual_operating_cost,installation_cost,total_capital_investment,annual_capital_investment,annual_pump_cost
0,NaN,0.056014,19592.982779,32396.317683,67708.303957,22569.434652,42162.417431
1,NaN,0.116722,9926.675415,21074.804231,44046.340843,14682.113614,24608.789029
2,NaN,0.162211,7590.660833,17733.030414,37062.033565,12354.011188,19944.672021
3,NaN,0.196846,6693.018422,16341.505914,34153.747360,11384.582453,18077.600876
4,NaN,0.223666,6347.736351,15786.567770,32993.926640,10997.975547,17345.711898
5,NaN,0.244742,6296.763230,15703.631511,32820.589858,10940.196619,17236.959849
6,NaN,0.261675,6439.060646,15934.494585,33303.093682,11101.031227,17540.091873
7,NaN,0.275782,6727.916715,16396.949914,34269.625321,11423.208440,18151.125155
8,NaN,0.287990,7144.022318,17049.401657,35633.249464,11877.749821,19021.772139
9,NaN,0.299119,7677.068653,17863.409456,37334.525763,12444.841921,20121.910574
10,NaN,0.309613,8329.522847,18829.596227,39353.856115,13117.952038,21447.474885
11,NaN,0.319877,9105.812585,19940.548370,41675.746093,13891.915364,22997.727949
12,NaN,0.330089,10018.905024,21199.857711,44307.702616,14769.234205,24788.139229
13,NaN,0.340462,11081.207867,22608.499231,47251.763392,15750.587797,26831.795664
14,NaN,0.351049,12312.433093,24175.156456,50526.076992,16842.025664,29154.458757
15,NaN,0.362013,13729.671619,25902.807037,54136.866706,18045.622235,31775.293854
16,NaN,0.373348,15359.143961,27803.216272,58108.722009,19369.574003,34728.717964
17,NaN,0.385144,17224.579421,29882.320080,62454.048968,20818.016323,38042.595744
18,NaN,0.397323,19365.182743,32160.009374,67214.419593,22404.806531,41769.989274
19,NaN,0.409937,21814.802971,34646.181057,72410.518408,24136.839469,45951.642440
20,NaN,0.422942,24618.506910,37358.317224,78078.882998,26026.294333,50644.801243
21,NaN,0.436448,27815.229697,40303.923775,84235.200690,28078.400230,55893.629927
22,NaN,0.450377,31466.991586,43507.609456,90930.903763,30310.301254,61777.292841
23,NaN,0.464775,35629.997172,46983.333221,98195.166433,32731.722144,68361.719316
24,NaN,0.479691,40362.534737,50742.627701,106052.091896,35350.697299,75713.232035
25,NaN,0.495091,45749.395127,54812.984270,114559.137125,38186.379042,83935.774169
26,NaN,0.511104,51847.798961,59195.898282,123719.427409,41239.809136,93087.608097
27,NaN,0.527778,58735.052786,63904.496600,133560.397895,44520.132632,103255.185418
28,NaN,0.545125,66503.285280,68957.466169,144121.104293,48040.368098,114543.653378
29,NaN,0.563193,75244.005042,74368.233370,155429.607743,51809.869248,127053.874290

# Economic Potential 2

## Parmeters

In [732]:
# Parameters
molar_mass = {
    'Ethylene'                                          : 28.05,
    'Methanol'                                          : 32.04,
    'Benzene'                                           : 78.11,
    'Acetonitrile'                                      : 41.05,
    'Water'                                             : 18.02,
    'Toluene'                                           : 92.14,
    'p-xylene'                                          : 106.16,
    'm-xylene'                                          : 106.16,
    'o-xylene'                                          : 106.16
}

price_component = {
    'Toluene'                                           : 0.68, 
    'Methanol'                                          : 0.38, 
    'p-xylene'                                          : 1.31, 
    'o-xylene'                                          : 0.67,
    'm-xylene'                                          : 0.70,
    'Benzene'                                           : 0.83
}

combustionheat = {
    'p-xylene'                                          : -4313.74408, 
    'o-xylene'                                          : -4313.74408, 
    'm-xylene'                                          : -4311.84834, 
    'Benzene'                                           : -3096.68246,
    'Ethylene'                                          : -1337.44076,
    'Acetonitrile'                                      : -1190.834123
}

purge_ratio                                             = 0.1

## Base Case

In [733]:
# Base Case
for i in df_dict.keys():
    # Extract data from dictionary
    df                                                  = df_dict[i]
    TOLFEED                                             = df_dict[i]['TOLFEED']
    METHFEED                                            = df_dict[i]['METHFEED']

    OUTBENZ                                             = df_dict[i]['OUTBENZ']
    OUTMETH                                             = df_dict[i]['OUTMETH']
    OUTPXYL                                             = df_dict[i]['OUTPXYL']
    OUTMXYL                                             = df_dict[i]['OUTMXYL']
    OUTOXYL                                             = df_dict[i]['OUTOXYL']
    OUTETH                                              = df_dict[i]['OUTETH']

    # Calculate economic potential for each component
    TOL                                                 = -1*TOLFEED*price_component['Toluene']*molar_mass['Toluene']
    BENZ                                                = OUTBENZ*price_component['Benzene']*molar_mass['Benzene']
    METH                                                = (purge_ratio*OUTMETH - METHFEED)*price_component['Methanol']*molar_mass['Methanol']
    PXYL                                                = OUTPXYL*price_component['p-xylene']*molar_mass['p-xylene']
    MXYL                                                = OUTMXYL*price_component['m-xylene']*molar_mass['m-xylene']
    OXYL                                                = OUTOXYL*price_component['o-xylene']*molar_mass['o-xylene']
    ETH                                                 = OUTETH*(-combustionheat['Ethylene'])*1000*price_fuel/10**6

    # Calculate economic potential
    economic_potential_2                                = (TOL+BENZ+METH+PXYL+MXYL+OXYL+ETH)*plant_runtime

    # Save the dataframe in the dictionary
    EP2 = pd.DataFrame({
        'Economic Potential 2'                          : {},
        'XTOL'                                          : df['XTOL'],
        'TOLCOST'                                       : TOL,
        'BENZCOST'                                      : BENZ,
        'METHCOST'                                      : METH,
        'PXYLCOST'                                      : PXYL,
        'MXYLCOST'                                      : MXYL,
        'OXYLCOST'                                      : OXYL,
        'ETHCOST'                                       : ETH,
        'economic_potential_2'                          : economic_potential_2
    })

    EP[i]['EP2']                                        = EP2

EP['T=820K,P=6atm']['EP2']

,Economic Potential 2,XTOL,TOLCOST,BENZCOST,METHCOST,PXYLCOST,MXYLCOST,OXYLCOST,ETHCOST,economic_potential_2
0,NaN,0.056014,-8700.424753,704.250671,-1602.528180,17680.967389,136.961864,131.092070,22.455922,6.823812e+07
1,NaN,0.116722,-9168.586350,813.221635,-1830.619022,17680.953204,358.395217,343.035422,58.761576,6.727957e+07
2,NaN,0.162211,-9728.312256,944.779520,-2101.430552,17680.974899,621.820866,595.171400,101.952181,6.613689e+07
3,NaN,0.196846,-10395.769017,1103.290661,-2421.784599,17680.983799,934.159164,894.123772,153.162380,6.477755e+07
4,NaN,0.223666,-11189.698243,1297.699885,-2799.378573,17680.981991,1303.279472,1247.424637,213.682415,6.319503e+07
5,NaN,0.244742,-12132.946465,1534.038357,-3243.558225,17680.977402,1738.747806,1664.230043,285.080705,6.134154e+07
6,NaN,0.261675,-13253.626946,1821.627106,-3765.780128,17680.986442,2252.304447,2155.777113,369.282156,5.917365e+07
7,NaN,0.275782,-14581.497709,2170.581526,-4377.411966,17680.976985,2855.855632,2733.461819,468.238886,5.664417e+07
8,NaN,0.287990,-16155.527032,2594.450290,-5093.700710,17680.980044,3565.234223,3412.438471,584.546811,5.369564e+07
9,NaN,0.299119,-18017.845774,3109.800115,-5930.123673,17680.984216,4396.864750,4208.427689,720.898854,5.027740e+07
10,NaN,0.309613,-20220.087898,3735.609614,-6905.593862,17680.975316,5370.837839,5140.659074,880.589024,4.631636e+07
11,NaN,0.319877,-22822.029347,4496.000177,-8041.114801,17680.979210,6509.788205,6230.797282,1067.328453,4.174226e+07
12,NaN,0.330089,-25895.021299,5417.369887,-9361.728831,17680.970170,7840.720873,7504.689979,1285.544824,3.645125e+07
13,NaN,0.340462,-29521.575389,6536.601754,-10894.982803,17680.981435,9393.876823,8991.282102,1540.196349,3.037000e+07
14,NaN,0.351049,-33800.765089,7894.167815,-12673.452523,17680.965303,11205.230485,10725.006322,1837.181329,2.337692e+07
15,NaN,0.362013,-38844.808682,9540.525031,-14732.003176,17681.796939,13314.005963,12743.405708,2182.930837,1.536970e+07
16,NaN,0.373348,-44789.514133,11535.458039,-17112.724731,17682.181328,15767.885626,15092.119100,2585.262761,6.199444e+06
17,NaN,0.385144,-51788.419640,13952.097649,-19859.817009,17680.971422,18618.390207,17820.459198,3052.624297,-4.268105e+06
18,NaN,0.397323,-60032.899809,16877.997429,-23029.490511,17681.789847,21929.898197,20990.045417,3595.570798,-1.619477e+07
19,NaN,0.409937,-69738.446173,20421.373460,-26680.921538,17681.042904,25772.975900,24668.419790,4225.672123,-2.974655e+07
20,NaN,0.422942,-81158.234799,24706.211000,-30880.496406,17681.020096,30227.560586,28932.093703,4956.034585,-4.511686e+07
21,NaN,0.436448,-94579.982375,29884.691868,-35698.538444,17680.984912,35381.347251,33865.003797,5801.036427,-6.247347e+07
22,NaN,0.450377,-110361.497712,36140.993681,-41225.797400,17680.988250,41345.564463,39573.611700,6778.914448,-8.204786e+07
23,NaN,0.464775,-128900.552358,43692.152183,-47552.478016,17680.985329,48236.463164,46169.186171,7908.728805,-1.040389e+08
24,NaN,0.479691,-150644.451186,52793.194973,-54770.510577,17680.971005,56178.166985,53770.531258,9210.830552,-1.286173e+08
25,NaN,0.495091,-176160.022631,63756.913687,-63006.230403,17680.983104,65334.790561,62534.728109,10712.127439,-1.560457e+08
26,NaN,0.511104,-206018.563074,76937.692095,-72353.974219,17680.986303,75848.853160,72598.188025,12435.986596,-1.863973e+08
27,NaN,0.527778,-240907.413842,92757.028496,-82931.238333,17680.988250,87894.589075,84127.678115,14410.975186,-2.197843e+08
28,NaN,0.545125,-281630.859687,111712.368333,-94872.439420,17680.984495,101673.751969,97316.305456,16670.171956,-2.563152e+08
29,NaN,0.563193,-329089.315357,134378.339295,-108313.069115,17680.984773,117401.800567,112370.294828,19248.903089,-2.960248e+08

## Alternative Case

# Economic Potential 3

## Sensitivity Analysis on Temperature and Pressure

In [734]:
for i in df_dict.keys():

    # Extract data from dictionary
    economic_potential_2                        = EP[i]['EP2']['economic_potential_2']
    annual_reactor_cost                         = EP[i]['Reactor_Cost']['annual_reactor_cost']
    annual_reactor_heating_cost                 = EP[i]['Reactor_Heating_Cost']['annual_reactor_heating_cost']
    annual_furnace_cost                         = EP[i]['Furnace_Cost']['annual_furnace_cost']
    annual_pump_cost                            = EP[i]['Pump_Cost']['annual_pump_cost']
    annual_water_cost                           = EP[i]['Water_Cost']['annual_water_cost']

    # Calculate Economic Potential 3
    economic_potential_3                        = (economic_potential_2
                                                   - annual_reactor_cost
                                                   - annual_reactor_heating_cost
                                                   - annual_furnace_cost
                                                   - annual_pump_cost
                                                   -annual_water_cost)
    
    # Save the dataframe in the dictionary
    EP3 = pd.DataFrame({
        'Economic Potential 3'                  : {},
        'XTOL'                                  : df['XTOL'],
        'economic_potential_2'                  : economic_potential_2,
        'annual_reactor_cost'                   : annual_reactor_cost,
        'annual_reactor_heating_cost'           : annual_reactor_heating_cost,
        'annual_furnace_cost'                   : annual_furnace_cost,
        'annual_pump_cost'                      : annual_pump_cost,
        'annual_water_cost'                     : annual_water_cost,
        'economic_potential_3'                  : economic_potential_3
    })

    EP[i]['EP3']                                = EP3

EP['T=820K,P=6atm']['EP3']

,Economic Potential 3,XTOL,economic_potential_2,annual_reactor_cost,annual_reactor_heating_cost,annual_furnace_cost,annual_pump_cost,annual_water_cost,economic_potential_3
0,NaN,0.052328,6.823812e+07,7.528113e+04,1.433085e+05,2.910115e+07,42162.417431,6826.741062,3.886938e+07
1,NaN,0.082357,6.727957e+07,9.049651e+04,1.483464e+05,1.551427e+07,24608.789029,7199.432443,5.149465e+07
2,NaN,0.108296,6.613689e+07,1.089442e+05,1.541504e+05,1.211152e+07,19944.672021,7637.312317,5.373470e+07
3,NaN,0.130378,6.477755e+07,1.313368e+05,1.608319e+05,1.077577e+07,18077.600876,8152.499299,5.368339e+07
4,NaN,0.149591,6.319503e+07,1.585480e+05,1.684807e+05,1.025319e+07,17345.711898,8756.561481,5.258871e+07
5,NaN,0.166360,6.134154e+07,1.916500e+05,1.771981e+05,1.016789e+07,17236.959849,9463.235114,5.077811e+07
6,NaN,0.181241,5.917365e+07,2.319588e+05,1.871037e+05,1.036994e+07,17540.091873,10289.243141,4.835682e+07
7,NaN,0.194417,5.664417e+07,2.810906e+05,1.982859e+05,1.078833e+07,18151.125155,11250.380041,4.534706e+07
8,NaN,0.206226,5.369564e+07,3.410314e+05,2.108789e+05,1.139238e+07,19021.772139,12368.229149,4.171996e+07
9,NaN,0.217045,5.027740e+07,4.142227e+05,2.249837e+05,1.216445e+07,20121.910574,13663.625767,3.743996e+07
10,NaN,0.227035,4.631636e+07,5.036671e+05,2.407267e+05,1.310564e+07,21447.474885,15161.964725,3.242972e+07
11,NaN,0.236441,4.174226e+07,6.130583e+05,2.582262e+05,1.421966e+07,22997.727949,16890.465591,2.661142e+07
12,NaN,0.245344,3.645125e+07,7.469427e+05,2.776242e+05,1.552228e+07,24788.139229,18881.524959,1.986073e+07
13,NaN,0.253918,3.037000e+07,9.109174e+05,2.990477e+05,1.702801e+07,26831.795664,21169.156032,1.208402e+07
14,NaN,0.262268,2.337692e+07,1.111875e+06,3.226446e+05,1.876134e+07,29154.458757,23792.935206,3.128115e+06
15,NaN,0.270467,1.536970e+07,1.358307e+06,3.485358e+05,2.074240e+07,31775.293854,26793.028513,-7.138116e+06
16,NaN,0.278608,6.199444e+06,1.660677e+06,3.768738e+05,2.300360e+07,34728.717964,30216.929512,-1.890665e+07
17,NaN,0.286760,-4.268105e+06,2.031880e+06,4.077626e+05,2.557307e+07,38042.595744,34110.121498,-3.235297e+07
18,NaN,0.295004,-1.619477e+07,2.487815e+06,4.413987e+05,2.849941e+07,41769.989274,38533.887598,-4.770370e+07
19,NaN,0.303228,-2.974655e+07,3.048085e+06,4.779018e+05,3.182279e+07,45951.642440,43544.307780,-6.518482e+07
20,NaN,0.311662,-4.511686e+07,3.736868e+06,5.173942e+05,3.559752e+07,50644.801243,49201.922601,-8.506849e+07
21,NaN,0.320206,-6.247347e+07,4.583988e+06,5.599348e+05,3.986850e+07,55893.629927,55561.720723,-1.075973e+08
22,NaN,0.328904,-8.204786e+07,5.626242e+06,6.057028e+05,4.471015e+07,61777.292841,62700.542588,-1.331144e+08
23,NaN,0.337765,-1.040389e+08,6.909036e+06,6.547357e+05,5.018761e+07,68361.719316,70677.500146,-1.619294e+08
24,NaN,0.346777,-1.286173e+08,8.488404e+06,7.069661e+05,5.636735e+07,75713.232035,79535.696366,-1.943353e+08
25,NaN,0.355948,-1.560457e+08,1.043352e+07,7.625305e+05,6.334873e+07,83935.774169,89353.974412,-2.307637e+08
26,NaN,0.365356,-1.863973e+08,1.282975e+07,8.211106e+05,7.119374e+07,93087.608097,100130.607945,-2.714351e+08
27,NaN,0.374950,-2.197843e+08,1.578254e+07,8.824815e+05,7.998899e+07,103255.185418,111873.374457,-3.166534e+08
28,NaN,0.384710,-2.563152e+08,1.942203e+07,9.464186e+05,8.983819e+07,114543.653378,124583.812709,-3.667610e+08
29,NaN,0.394668,-2.960248e+08,2.390896e+07,1.012554e+06,1.008425e+08,127053.874290,138226.779678,-4.220541e+08

# Export all the data

In [736]:
for i in df_dict.keys():
    single_df = pd.DataFrame({})
    for j in EP[i].keys():
        single_df = pd.concat([single_df,EP[i][j]], axis=1)
    single_df.to_csv(f'{i}.csv', index=False)