In [129]:
import pandas as pd
import numpy as np

# Preparation

- Impoart Raw Data
- Create relavent dictionaries

In [130]:
# Create a dictionary to record manipulated data
EP                                          = {}
df_dict                                     = {}

# Dataframe of raw data from ASPEN
T                                           = [720,740,760,780,800,820]
P                                           = [1,2,3,4,5,6]

# Extract raw flowrate data from excel 'Book1.xlsx' 
for i in T:
    df_dict[f'T={i}K,P=6atm']               = pd.read_excel('Book1.xlsx',sheet_name=f'T={i}K,P=6atm')

for i in P:
    df_dict[f'T=820K,P={i}atm']             = pd.read_excel('Book1.xlsx',sheet_name=f'T=820K,P={i}atm')

# Create a dictionary to collect processed data
for i in df_dict.keys():
    EP[i]                                   = {}    

# Permanently changes the pandas settings
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# Display Dataframe

df_dict['T=820K,P=6atm']

,Row/Case,Status,Length,Diameter,XTOL,INTOL,INBENZ,INMETH,INACET,INPXYL,INMXYL,INOXYL,INETH,INWATER,OUTOL,OUTBENZ,OUTMETH,OUTACET,OUTPXYL,OUTMXYL,OUTOXYL,OUTETH,OUTWATER,TOLFEED,METHFEED,FURNACEQ,REACTORQ
0,1,OK,4.500000,0.450000,0.056012,2479.137810,2.837601,2479.1380,18.41172,0,0,0,0,0,2340.275880,10.87589,2347.5160,18.41172,127.1376,1.842994,1.842994,4.418307,131.62196,138.8619,366.37353,140.89040,-2.398379
1,2,Errors,4.710086,0.471009,0.097008,1479.573720,2.922625,1479.5740,13.90741,0,0,0,0,0,1336.043700,11.90242,1336.2330,13.90741,127.1376,3.706312,3.706312,8.885339,143.34111,143.5301,276.96437,84.17505,-2.480556
2,3,Errors,4.929981,0.492998,0.131223,1133.679540,3.030455,1133.6800,12.83666,0,0,0,0,0,984.915123,13.07918,977.2558,12.83666,127.1376,5.789049,5.789049,13.878390,156.42377,148.7645,254.14935,64.56074,-2.571375
3,4,OK,5.160141,0.516014,0.160000,968.761082,3.155577,968.7611,12.55536,0,0,0,0,0,814.118671,14.41953,797.7115,12.55536,127.1376,8.120000,8.120000,19.500000,171.00000,154.6424,250.82074,55.21548,-2.672466
4,5,Errors,5.401047,0.540105,0.183463,878.745683,3.285098,878.7457,12.95739,0,0,0,0,0,717.528369,15.92852,691.4249,12.95739,127.1376,10.718140,10.718140,25.695180,187.32083,161.2172,256.46333,50.09913,-2.784525
5,6,OK,5.653199,0.565320,0.203611,827.945909,3.440099,827.9459,13.53404,0,0,0,0,0,659.366736,17.65086,622.5065,13.53404,127.1377,13.615380,13.615380,32.640870,205.43939,168.5792,267.69004,47.21016,-2.908899
6,7,Errors,5.917123,0.591712,0.220616,801.475180,3.609892,801.4752,14.28777,0,0,0,0,0,624.657224,19.60161,575.8772,14.28777,127.1376,16.844300,16.844300,40.381740,225.59800,176.8177,283.18573,45.70398,-3.046818
7,8,Errors,6.193369,0.619337,0.235173,791.019581,3.794451,791.0196,15.22187,0,0,0,0,0,604.992890,21.80919,543.0321,15.22187,127.1376,20.437180,20.437180,48.995140,247.98750,186.0267,302.29070,45.10868,-3.199460
8,9,Errors,6.482512,0.648251,0.247703,792.553612,4.006381,792.5535,16.32227,0,0,0,0,0,596.235603,24.31935,519.7085,16.32227,127.1374,24.433820,24.433820,58.576490,272.84504,196.3180,324.81589,45.19571,-3.368310
9,10,OK,6.785153,0.678515,0.258633,803.496682,4.239949,803.4967,17.61732,0,0,0,0,0,595.685615,27.16335,503.0851,17.61732,127.1376,28.875030,28.875030,69.223650,300.41156,207.8111,350.72007,45.81880,-3.554840
10,11,Errors,7.101924,0.710192,0.268319,822.319631,4.509447,822.3195,19.04965,0,0,0,0,0,601.676001,30.39812,491.3507,19.04965,127.1376,33.808650,33.808650,81.051290,330.96885,220.6436,380.10393,46.89030,-3.760768
11,12,Errors,7.433483,0.743348,0.277029,848.125493,4.797980,848.1256,20.76345,0,0,0,0,0,613.170227,34.05336,483.3395,20.76345,127.1376,39.281150,39.281150,94.170780,364.78607,234.9552,413.12003,48.36134,-3.987670
12,13,OK,7.780522,0.778052,0.284946,880.631123,5.120319,880.6311,22.62545,0,0,0,0,0,629.698421,38.20052,478.3832,22.62545,127.1376,45.357450,45.357450,108.737800,402.24794,250.9327,450.08626,50.21346,-4.237916
13,15,OK,8.143762,0.814376,0.292393,919.101897,5.481866,919.1019,24.69581,0,0,0,0,0,650.363320,42.90409,475.4546,24.69581,127.1376,52.089370,52.089370,124.876600,443.64734,268.7386,491.19280,52.40617,-4.513123
14,16,OK,8.523961,0.852396,0.299457,963.692349,5.889423,963.6924,26.99350,0,0,0,0,0,675.108084,48.24120,474.2992,26.99350,127.1376,59.547440,59.547440,142.756300,489.39322,288.5843,536.82314,54.94854,-4.815690
15,17,OK,8.921909,0.892191,0.306271,1014.419310,6.336078,1014.4190,29.53746,0,0,0,0,0,703.732350,54.28437,474.5453,29.53746,127.1376,67.800520,67.800520,162.541800,539.87397,310.6870,587.32850,57.84142,-5.147748
16,18,OK,9.338436,0.933844,0.312919,1071.607800,6.847233,1071.6080,32.35545,0,0,0,0,0,736.281371,61.14642,475.9519,32.35545,127.1376,76.944820,76.944820,184.463900,595.65586,335.3264,643.25106,61.10421,-5.512736
17,19,Errors,9.774409,0.977441,0.319533,1135.199870,7.395173,1135.2000,35.45891,0,0,0,0,0,772.466016,68.90234,478.1273,35.45891,127.1376,87.044520,87.044520,208.676500,657.07244,362.7340,704.88517,64.73291,-5.912081
18,20,OK,10.230740,1.023074,0.326109,1205.915640,8.025641,1205.9160,38.88621,0,0,0,0,0,812.655871,77.71130,481.0996,38.88621,127.1376,98.218240,98.218240,235.463800,724.81607,393.2598,772.92604,68.77003,-6.349910
19,21,OK,10.708370,1.070837,0.332724,1284.053980,8.719636,1284.0540,42.66202,0,0,0,0,0,856.818927,87.68406,484.6139,42.66202,127.1376,110.566500,110.566500,265.066900,799.44006,427.2351,847.90146,73.23216,-6.829066
20,22,OK,11.208290,1.120829,0.339430,1370.057890,9.490573,1370.0580,46.81892,0,0,0,0,0,905.019714,98.97916,488.4657,46.81892,127.1377,124.206000,124.206000,297.765600,881.59216,465.0382,930.43873,78.14518,-7.352956
21,23,Errors,11.731560,1.173156,0.346193,1464.826680,10.352770,1464.8270,51.32286,0,0,0,0,0,957.714005,111.78180,492.7783,51.32286,127.1290,139.277300,139.277300,333.896900,972.04835,507.1127,1021.32620,83.55939,-7.925594
22,24,OK,12.279260,1.227926,0.353140,1568.481840,11.311220,1568.4820,56.34754,0,0,0,0,0,1014.588450,126.27540,497.0423,56.34754,127.1376,155.895800,155.895800,373.737300,1071.43950,553.8934,1121.14370,89.48510,-8.550165
23,25,OK,12.852530,1.285253,0.360203,1682.132320,12.365490,1682.1320,61.94090,0,0,0,0,0,1076.223810,142.67500,501.4579,61.94090,127.1377,174.230700,174.230700,417.692500,1180.67440,605.9085,1230.82020,95.98553,-9.231014
24,26,Errors,13.452560,1.345256,0.367444,1806.352390,13.545590,1806.3520,67.94910,0,0,0,0,0,1142.619930,161.25110,505.7261,67.94910,127.1377,194.444600,194.444600,466.152500,1300.62630,663.7325,1351.19890,103.09100,-9.972305
25,27,OK,14.080600,1.408060,0.374835,1942.334680,14.850520,1942.3350,74.54133,0,0,0,0,0,1214.278760,182.27170,509.8753,74.54133,127.1376,216.748600,216.748600,519.622900,1432.45950,728.0559,1483.44700,110.87170,-10.780068
26,28,OK,14.737970,1.473797,0.382409,2090.683690,16.316100,2090.6840,81.82433,0,0,0,0,0,1291.187800,206.07410,513.7403,81.82433,127.1375,241.300200,241.300200,578.481700,1576.94340,799.4959,1628.31740,119.36500,-11.656844
27,29,OK,15.426020,1.542602,0.390176,2252.466860,17.931690,2252.4670,89.80017,0,0,0,0,0,1373.608500,232.99190,517.1641,89.80017,127.1376,268.330300,268.330300,643.282400,1735.30270,878.8584,1787.01910,128.63060,-12.608261
28,30,OK,16.146200,1.614620,0.398100,2429.221870,19.737430,2429.2220,98.54313,0,0,0,0,0,1462.149300,263.45580,520.2443,98.54313,127.1376,298.108300,298.108300,714.670900,1908.97760,967.0726,1961.00210,138.75780,-13.641099
29,31,OK,16.900000,1.690000,0.406204,2622.033280,21.734940,2622.0330,108.11660,0,0,0,0,0,1556.952920,297.90390,522.7853,108.11660,127.1376,330.886900,330.886900,793.252800,2099.24800,1065.0800,2151.52650,149.80900,-14.760342

# Economic Potential 2

## Parameters

In [131]:
# Parameters
molar_mass = {
    'Ethylene'                                          : 28.05,
    'Methanol'                                          : 32.04,
    'Benzene'                                           : 78.11,
    'Acetonitrile'                                      : 41.05,
    'Water'                                             : 18.02,
    'Toluene'                                           : 92.14,
    'p-xylene'                                          : 106.16,
    'm-xylene'                                          : 106.16,
    'o-xylene'                                          : 106.16
}

price_component = {
    'Toluene'                                           : 0.68, 
    'Methanol'                                          : 0.38, 
    'p-xylene'                                          : 1.31, 
    'o-xylene'                                          : 0.67,
    'm-xylene'                                          : 0.00,
    'Benzene'                                           : 0.83
}

combustionheat = {
    'p-xylene'                                          : -4313.74408, 
    'o-xylene'                                          : -4313.74408, 
    'm-xylene'                                          : -4311.84834, 
    'Benzene'                                           : -3096.68246,
    'Ethylene'                                          : -1337.44076,
    'Acetonitrile'                                      : -1190.834123
}

purge_ratio                                             = 0.1
price_fuel                                              = 3.8
plant_runtime                                           = 8150

## Base Case

In [132]:
# Base Case
for i in df_dict.keys():

    # Extract data from dictionary
    df                                                  = df_dict[i]
    TOLFEED                                             = df['TOLFEED']
    METHFEED                                            = df['METHFEED']

    OUTBENZ                                             = df['OUTBENZ']
    OUTMETH                                             = df['OUTMETH']
    OUTPXYL                                             = df['OUTPXYL']
    OUTMXYL                                             = df['OUTMXYL']
    OUTOXYL                                             = df['OUTOXYL']
    OUTETH                                              = df['OUTETH']

    # Calculate economic potential for each component
    TOL                                                 = -1*TOLFEED*price_component['Toluene']*molar_mass['Toluene']
    BENZ                                                = OUTBENZ*price_component['Benzene']*molar_mass['Benzene']
    METH                                                = -1*(METHFEED)*price_component['Methanol']*molar_mass['Methanol']
    PXYL                                                = OUTPXYL*price_component['p-xylene']*molar_mass['p-xylene']
    MXYL                                                = OUTMXYL*price_component['m-xylene']*molar_mass['m-xylene']
    OXYL                                                = OUTOXYL*price_component['o-xylene']*molar_mass['o-xylene']
    ETH                                                 = OUTETH*(-combustionheat['Ethylene'])*1000*price_fuel/10**6

    # Calculate economic potential
    economic_potential_2                                = (TOL+BENZ+METH+PXYL+MXYL+OXYL+ETH)*plant_runtime

    # Save the dataframe in the dictionary
    EP2 = pd.DataFrame({
        'Economic Potential 2'                          : {},
        'XTOL'                                          : df['XTOL'],
        'TOLCOST'                                       : TOL,
        'BENZCOST'                                      : BENZ,
        'METHCOST'                                      : METH,
        'PXYLCOST'                                      : PXYL,
        'MXYLCOST'                                      : MXYL,
        'OXYLCOST'                                      : OXYL,
        'ETHCOST'                                       : ETH,
        'economic_potential_2'                          : economic_potential_2
    })

    EP[i]['EP2']                                        = EP2

EP['T=820K,P=6atm']['EP2']

,Economic Potential 2,XTOL,TOLCOST,BENZCOST,METHCOST,PXYLCOST,MXYLCOST,OXYLCOST,ETHCOST,economic_potential_2
0,NaN,0.056012,-8700.420117,705.098087,-4460.671002,17680.975177,0.0,131.087003,22.455051,4.383497e+07
1,NaN,0.097008,-8992.907122,771.649362,-3372.096598,17680.975177,0.0,263.619595,45.157735,5.213064e+07
2,NaN,0.131223,-9320.869500,847.940242,-3094.319166,17680.975177,0.0,411.758846,70.533793,5.375756e+07
3,NaN,0.160000,-9689.150500,934.836875,-3053.792674,17680.975177,0.0,577.552864,99.104360,5.337864e+07
4,NaN,0.183463,-10101.095909,1032.666659,-3122.492335,17680.975177,0.0,762.351287,130.589968,5.202141e+07
5,NaN,0.203611,-10562.363492,1144.328200,-3259.179775,17680.989084,0.0,968.423856,165.889874,5.002542e+07
6,NaN,0.220616,-11078.548357,1270.797858,-3447.842900,17680.975177,0.0,1198.087895,205.231103,4.750391e+07
7,NaN,0.235173,-11655.540094,1413.918140,-3680.449731,17680.975177,0.0,1453.639389,249.006770,4.451163e+07
8,NaN,0.247703,-12300.343554,1576.655076,-3954.698424,17680.947363,0.0,1737.909202,297.701824,4.106110e+07
9,NaN,0.258633,-13020.446033,1761.035293,-4270.086996,17680.975177,0.0,2053.800034,351.813618,3.714029e+07
10,NaN,0.268319,-13824.468887,1970.749637,-4627.841369,17680.975177,0.0,2404.714610,411.924936,3.273084e+07
11,NaN,0.277029,-14721.165047,2207.723598,-5029.818989,17680.975177,0.0,2793.958212,478.601790,2.779374e+07
12,NaN,0.284946,-15722.238505,2476.589372,-5479.890233,17680.975177,0.0,3226.148418,552.635390,2.228389e+07
13,NaN,0.292393,-16837.870731,2781.527930,-5980.370579,17680.975177,0.0,3704.971038,634.657208,1.616870e+07
14,NaN,0.299457,-18081.307033,3127.539710,-6535.929094,17680.975177,0.0,4235.442674,725.526759,9.390823e+06
15,NaN,0.306271,-19466.156122,3519.326277,-7150.841953,17680.975177,0.0,4822.461146,826.082108,1.889550e+06
16,NaN,0.312919,-21009.942657,3964.201899,-7831.710306,17680.975177,0.0,5472.869601,937.496247,-6.406797e+06
17,NaN,0.319533,-22727.171317,4467.028275,-8582.117922,17680.975177,0.0,6191.232983,1060.551336,-1.556244e+07
18,NaN,0.326109,-24639.771421,5038.124604,-9410.529122,17680.975177,0.0,6985.988400,1196.691758,-2.566044e+07
19,NaN,0.332724,-26768.500638,5684.671599,-10323.369856,17680.975177,0.0,7864.285559,1347.142850,-3.679558e+07
20,NaN,0.339430,-29137.061429,6416.947616,-11328.277625,17680.989084,0.0,8834.425003,1513.326631,-4.906015e+07
21,NaN,0.346193,-31773.247641,7246.959410,-12434.850750,17679.779178,0.0,9906.404373,1696.955830,-6.257570e+07
22,NaN,0.353140,-34704.301756,8186.598340,-13650.148776,17680.975177,0.0,11088.431746,1899.435694,-7.741693e+07
23,NaN,0.360203,-37963.318249,9249.805728,-14985.482099,17680.989084,0.0,12392.541845,2122.828104,-9.374648e+07
24,NaN,0.367444,-41586.292534,10454.118439,-16451.116847,17680.989084,0.0,13830.299953,2369.115145,-1.116785e+08
25,NaN,0.374835,-45616.488026,11816.911264,-18061.263914,17680.975177,0.0,15416.721022,2640.866416,-1.313966e+08
26,NaN,0.382409,-50092.575514,13360.051799,-19825.090008,17680.961270,0.0,17163.007585,2940.003017,-1.530052e+08
27,NaN,0.390176,-55065.048824,15105.167766,-21757.314946,17680.975177,0.0,19085.582914,3269.337987,-1.767026e+08
28,NaN,0.398100,-60592.127168,17080.182007,-23875.592768,17680.975177,0.0,21203.608676,3632.153968,-2.026970e+08
29,NaN,0.406204,-66732.800416,19313.497112,-26195.265443,17680.975177,0.0,23535.058714,4031.528785,-2.311911e+08

## Alternative Case 1,2,3

In [133]:
# Extract data from dictionary
df                                                  = df_dict['T=820K,P=6atm']
TOLFEED                                             = df['TOLFEED']
METHFEED                                            = df['METHFEED']

OUTBENZ                                             = df['OUTBENZ']
OUTMETH                                             = df['OUTMETH']
OUTPXYL                                             = df['OUTPXYL']
OUTMXYL                                             = df['OUTMXYL']
OUTOXYL                                             = df['OUTOXYL']
OUTETH                                              = df['OUTETH']

############################ Alternative Case 1 ############################
# Calculate economic potential for each component
TOL                                                 = -1*TOLFEED*price_component['Toluene']*molar_mass['Toluene']
BENZ                                                = OUTBENZ*(-combustionheat['Benzene'])*1000*price_fuel/10**6
METH                                                = -1*(METHFEED)*price_component['Methanol']*molar_mass['Methanol']
PXYL                                                = OUTPXYL*price_component['p-xylene']*molar_mass['p-xylene']
MXYL                                                = OUTMXYL*price_component['m-xylene']*molar_mass['m-xylene']
OXYL                                                = OUTOXYL*price_component['o-xylene']*molar_mass['o-xylene']
ETH                                                 = OUTETH*(-combustionheat['Ethylene'])*1000*price_fuel/10**6

# Calculate economic potential
economic_potential_2                                = (TOL+BENZ+METH+PXYL+MXYL+OXYL+ETH)*plant_runtime

# Save the dataframe in the dictionary
EP2Alt1 = pd.DataFrame({
    'Economic Potential 2'                          : {},
    'XTOL'                                          : df['XTOL'],
    'economic_potential_2'                          : economic_potential_2
})

EP['T=820K,P=6atm']['EP2Alt1']                      = EP2Alt1


############################ Alternative Case 2 ############################
# Calculate economic potential for each component
TOL                                                 = -1*TOLFEED*price_component['Toluene']*molar_mass['Toluene']
BENZ                                                = OUTBENZ*(-combustionheat['Benzene'])*1000*price_fuel/10**6
METH                                                = -1*(METHFEED)*price_component['Methanol']*molar_mass['Methanol']
PXYL                                                = OUTPXYL*price_component['p-xylene']*molar_mass['p-xylene']
MXYL                                                = OUTMXYL*price_component['m-xylene']*molar_mass['m-xylene']
OXYL                                                = OUTOXYL*price_component['o-xylene']*molar_mass['o-xylene']
ETH                                                 = OUTETH*(-combustionheat['Ethylene'])*1000*price_fuel/10**6

# Calculate economic potential
economic_potential_2                                = (TOL+BENZ+METH+PXYL+MXYL+OXYL+ETH)*plant_runtime

# Save the dataframe in the dictionary
EP2Alt2 = pd.DataFrame({
    'Economic Potential 2'                          : {},
    'economic_potential_2'                          : economic_potential_2
})

EP['T=820K,P=6atm']['EP2Alt2']                      = EP2Alt2


############################ Alternative Case 3 ############################
# Calculate economic potential for each component
TOL                                                 = -1*TOLFEED*price_component['Toluene']*molar_mass['Toluene']
BENZ                                                = 0
METH                                                = -1*(METHFEED)*price_component['Methanol']*molar_mass['Methanol']
PXYL                                                = OUTPXYL*price_component['p-xylene']*molar_mass['p-xylene']
MXYL                                                = OUTMXYL*(-combustionheat['m-xylene'])*1000*price_fuel/10**6
OXYL                                                = OUTOXYL*(-combustionheat['o-xylene'])*1000*price_fuel/10**6
ETH                                                 = OUTETH*(-combustionheat['Ethylene'])*1000*price_fuel/10**6

# Calculate economic potential
economic_potential_2                                = (TOL+BENZ+METH+PXYL+MXYL+OXYL+ETH)*plant_runtime

# Save the dataframe in the dictionary
EP2Alt3 = pd.DataFrame({
    'Economic Potential 2'                          : {},
    'economic_potential_2'                          : economic_potential_2
})

EP['T=820K,P=6atm']['EP2Alt3']                      = EP2Alt3

## Export the data

In [134]:
single_df = pd.DataFrame({})
single_df = pd.concat([single_df,
                       EP['T=820K,P=6atm']['EP2'],
                       EP['T=820K,P=6atm']['EP2Alt1'],
                       EP['T=820K,P=6atm']['EP2Alt2'],
                       EP['T=820K,P=6atm']['EP2Alt3']], axis=1)
single_df.to_excel('EP2.xlsx', index=False)

# EP3

# Reactor + Catalyst Cost

In [135]:
# Parameters
MandS                                   = 1800
Fc                                      = 2.3625
bed_voyage                              = 0.45
catalyst_density                        = 1310
price_catalyst                          = 1.1
plant_runtime                           = 8150

for i in df_dict.keys():
    df = df_dict[i]

    # Reactor Installation Cost
    installation_cost                   = (MandS/280)*101.3 * (df['Diameter']*3.281)**1.066* (df['Length']*3.281)**0.802 * (2.18+Fc)
    total_capital_investment            = 2.096*installation_cost
    annual_capital_investment           = 1/3*total_capital_investment

    # Reactor Catalyst Operating Costs
    reactor_volume                      = np.pi*df['Diameter']**2*df['Length']/4
    catalyst_cost                       = reactor_volume*(1-bed_voyage)*catalyst_density*price_catalyst
    annual_catalyst_cost                = catalyst_cost * plant_runtime/96

    # Total annual reactor cost
    annual_reactor_cost                 = annual_capital_investment+annual_catalyst_cost

    # Create a dataframe for reactor cost
    Reactor_Cost = pd.DataFrame({
        'Reactor_Cost'                  : {},
        'XTOL'                          : df['XTOL'],
        'Diameter(ft)'                  : df['Diameter']*3.281,
        'Length(ft)'                    : df['Length']*3.281,
        'installation_cost'             : installation_cost,
        "total_capital_investment"      : total_capital_investment,
        "annual_capital_investment"     : annual_capital_investment,
        "catalyst_cost"                 : catalyst_cost,
        "annual_catalyst_cost"          : annual_catalyst_cost,
        'annual_reactor_cost'           : annual_reactor_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Reactor_Cost']                  = Reactor_Cost

# Display 
EP['T=820K,P=6atm']['Reactor_Cost']

,Reactor_Cost,XTOL,Diameter(ft),Length(ft),installation_cost,total_capital_investment,annual_capital_investment,catalyst_cost,annual_catalyst_cost,annual_reactor_cost
0,NaN,0.056012,1.476450,14.764500,38825.715618,81378.699936,27126.233312,567.223340,4.815490e+04,7.528113e+04
1,NaN,0.097008,1.545381,15.453792,42280.172824,88619.242240,29539.747413,650.434846,5.521921e+04,8.475896e+04
2,NaN,0.131223,1.617526,16.175268,46041.908581,96503.840385,32167.946795,745.851061,6.331965e+04,9.548759e+04
3,NaN,0.160000,1.693042,16.930423,50138.370389,105090.024334,35030.008111,855.265768,7.260850e+04,1.076385e+05
4,NaN,0.183463,1.772085,17.720835,54599.362687,114440.264193,38146.754731,980.733260,8.326017e+04,1.214069e+05
5,NaN,0.203611,1.854815,18.548146,59457.176032,124622.240964,41540.746988,1124.603746,9.547417e+04,1.370149e+05
6,NaN,0.220616,1.941407,19.414081,64747.179440,135710.088106,45236.696035,1289.578852,1.094799e+05,1.547166e+05
7,NaN,0.235173,2.032045,20.320444,70507.955540,147784.674811,49261.558270,1478.759541,1.255405e+05,1.748021e+05
8,NaN,0.247703,2.126912,21.269122,76781.199039,160933.393185,53644.464395,1695.689269,1.439570e+05,1.976014e+05
9,NaN,0.258633,2.226208,22.262087,83612.595662,175252.000508,58417.333503,1944.442491,1.650751e+05,2.234924e+05
10,NaN,0.268319,2.330140,23.301413,91051.821630,190844.618136,63614.872712,2229.688140,1.892912e+05,2.529061e+05
11,NaN,0.277029,2.438925,24.389258,99152.945737,207824.574264,69274.858088,2556.779402,2.170599e+05,2.863348e+05
12,NaN,0.284946,2.552789,25.527893,107974.870422,226315.328404,75438.442801,2931.855309,2.489023e+05,3.243407e+05
13,NaN,0.292393,2.671968,26.719683,117581.667832,246451.175776,82150.391925,3361.952378,2.854157e+05,3.675661e+05
14,NaN,0.299457,2.796711,27.967116,128043.245970,268378.643553,89459.547851,3855.145838,3.272858e+05,4.167454e+05
15,NaN,0.306271,2.927279,29.272783,139435.608328,292257.035055,97419.011685,4420.689550,3.752981e+05,4.727171e+05
16,NaN,0.312919,3.063942,30.639409,151841.609257,318260.013002,106086.671001,5069.199273,4.303539e+05,5.364406e+05
17,NaN,0.319533,3.206984,32.069836,165351.298269,346576.321173,115525.440391,5812.837250,4.934857e+05,6.090111e+05
18,NaN,0.326109,3.356706,33.567058,180063.156394,377412.375802,125804.125267,6665.576162,5.658796e+05,6.916838e+05
19,NaN,0.332724,3.513416,35.134162,196083.814206,410991.674575,136997.224858,7643.401228,6.488929e+05,7.858901e+05
20,NaN,0.339430,3.677440,36.774399,213529.565583,447557.969461,149185.989820,8764.651036,7.440824e+05,8.932683e+05
21,NaN,0.346193,3.849125,38.491248,232527.897386,487378.472920,162459.490973,10050.411646,8.532381e+05,1.015698e+06
22,NaN,0.353140,4.028825,40.288252,253216.588885,530741.970304,176913.990101,11524.793094,9.784069e+05,1.155321e+06
23,NaN,0.360203,4.216915,42.169151,275746.016556,577963.650701,192654.550234,13215.464440,1.121938e+06,1.314592e+06
24,NaN,0.367444,4.413785,44.137849,300279.799449,629386.459644,209795.486548,15154.142433,1.286524e+06,1.496319e+06
25,NaN,0.374835,4.619845,46.198449,326996.288054,685384.219762,228461.406587,17377.209440,1.475253e+06,1.703714e+06
26,NaN,0.382409,4.835528,48.355280,356090.229524,746365.121083,248788.373694,19926.432673,1.691671e+06,1.940459e+06
27,NaN,0.390176,5.061277,50.612772,387772.279962,812770.698801,270923.566267,22849.580015,1.939834e+06,2.210758e+06
28,NaN,0.398100,5.297568,52.975682,422273.536677,885085.332875,295028.444292,26201.583257,2.224405e+06,2.519434e+06
29,NaN,0.406204,5.544890,55.448900,459844.353073,963833.764040,321277.921347,30045.308354,2.550721e+06,2.871999e+06

# Reactor Heat Effect

In [136]:
# Parameters
U                                               = 113.565
Fc                                              = 3.7935

for i in range(len(df_dict.keys())):
    # Extract data from dictioanry
    j                                           = list(df_dict.keys())[i]
    df                                          = df_dict[j]

    # Parameters for each condition
    if i <= 5:
        TLM                                         = ((T[i]-288)-(T[i]-308))/np.log((T[i]-288)/(T[i]-308))
    else:
        TLM                                         = ((T[-1]-288)-(T[-1]-308))/np.log((T[-1]-288)/(T[-1]-308))
        
    Area                                        = -df_dict[j]['REACTORQ']*10**6/(U*TLM)*10.764

    # Installation Cost
    installation_cost                           = MandS/280*101.3*Area**0.65*(2.29+Fc)
    total_capital_investment                    = 2.09*installation_cost
    annual_capital_investment                   = 1/3*total_capital_investment

    # Create a dataframe for reactor heating cost
    Reactor_Heating_Cost = pd.DataFrame({
        'Reactor_Heating_Cost'                  : {},
        'XTOL'                                  : df['XTOL'],
        'installation_cost'                     : installation_cost,
        "total_capital_investment"              : total_capital_investment,
        "annual_capital_investment"             : annual_capital_investment,
        'annual_reactor_heating_cost'           : annual_capital_investment
    })

    # Save the dataframe in the dictionary
    EP[j]['Reactor_Heating_Cost']               = Reactor_Heating_Cost

# Display 
EP['T=820K,P=6atm']['Reactor_Heating_Cost']

,Reactor_Heating_Cost,XTOL,installation_cost,total_capital_investment,annual_capital_investment,annual_reactor_heating_cost
0,NaN,0.056012,205705.889643,4.299253e+05,143308.436451,143308.436451
1,NaN,0.097008,210260.168812,4.394438e+05,146481.250939,146481.250939
2,NaN,0.131223,215232.381884,4.498357e+05,149945.226046,149945.226046
3,NaN,0.160000,220695.296521,4.612532e+05,153751.056576,153751.056576
4,NaN,0.183463,226667.039314,4.737341e+05,157911.370722,157911.370722
5,NaN,0.203611,233197.414047,4.873826e+05,162460.865119,162460.865119
6,NaN,0.220616,240325.756506,5.022808e+05,167426.943699,167426.943699
7,NaN,0.235173,248084.696814,5.184970e+05,172832.338781,172832.338781
8,NaN,0.247703,256518.041025,5.361227e+05,178707.568581,178707.568581
9,NaN,0.258633,265664.275962,5.552383e+05,185079.445587,185079.445587
10,NaN,0.268319,275568.667015,5.759385e+05,191979.504687,191979.504687
11,NaN,0.277029,286264.551097,5.982929e+05,199430.970597,199430.970597
12,NaN,0.284946,297816.761284,6.224370e+05,207479.010361,207479.010361
13,NaN,0.292393,310248.920685,6.484202e+05,216140.081410,216140.081410
14,NaN,0.299457,323614.633845,6.763546e+05,225451.528245,225451.528245
15,NaN,0.306271,337949.155583,7.063137e+05,235437.911722,235437.911722
16,NaN,0.312919,353336.724846,7.384738e+05,246157.918309,246157.918309
17,NaN,0.319533,369769.726453,7.728187e+05,257606.242762,257606.242762
18,NaN,0.326109,387345.966122,8.095531e+05,269851.023065,269851.023065
19,NaN,0.332724,406101.858064,8.487529e+05,282917.627784,282917.627784
20,NaN,0.339430,426089.067491,8.905262e+05,296842.050352,296842.050352
21,NaN,0.346193,447374.068479,9.350118e+05,311670.601040,311670.601040
22,NaN,0.353140,469984.499644,9.822676e+05,327422.534752,327422.534752
23,NaN,0.360203,493983.242684,1.032425e+06,344141.659070,344141.659070
24,NaN,0.367444,519418.274036,1.085584e+06,361861.397579,361861.397579
25,NaN,0.374835,546391.692872,1.141959e+06,380652.879367,380652.879367
26,NaN,0.382409,574880.731606,1.201501e+06,400500.243019,400500.243019
27,NaN,0.390176,604959.061713,1.264364e+06,421454.812993,421454.812993
28,NaN,0.398100,636725.432637,1.330756e+06,443585.384737,443585.384737
29,NaN,0.406204,670212.904814,1.400745e+06,466914.990354,466914.990354

# Cooling Water Cost

In [137]:
# Parameters
density_water =	999.13
Cp_water = 4188.60
price_coolingwater = 8.12
delta_temp = 20.00

for i in df_dict.keys():
    # Extract data from dictionary
    df = df_dict[i]

    # Calculate parameter
    volume_flowrate = -1*df['REACTORQ']*10**6/(density_water*Cp_water*delta_temp)*3600*plant_runtime
    annual_water_cost = volume_flowrate/1000*price_coolingwater

    # Create a dataframe for water cost
    Water_Cost = pd.DataFrame({
        'Water_Cost'                            : {},
        'XTOL'                                  : df['XTOL'],
        'volume_flowrate'                       : volume_flowrate,
        "annual_water_cost"                     : annual_water_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Water_Cost']               = Water_Cost

EP['T=820K,P=6atm']['Water_Cost']

    Water_Cost      XTOL  volume_flowrate  annual_water_cost
0          NaN  0.056012     8.407311e+05        6826.736223
1          NaN  0.097008     8.695375e+05        7060.644187
2          NaN  0.131223     9.013731e+05        7319.149848
3          NaN  0.160000     9.368099e+05        7606.896531
4          NaN  0.183463     9.760912e+05        7925.860488
5          NaN  0.203611     1.019689e+06        8279.877237
6          NaN  0.220616     1.068036e+06        8672.448414
7          NaN  0.235173     1.121543e+06        9106.929351
8          NaN  0.247703     1.180732e+06        9587.541535
9          NaN  0.258633     1.246118e+06       10118.481125
10         NaN  0.268319     1.318304e+06       10704.632249
11         NaN  0.277029     1.397843e+06       11350.485098
12         NaN  0.284946     1.485565e+06       12062.785343
13         NaN  0.292393     1.582036e+06       12846.133614
14         NaN  0.299457     1.688098e+06       13707.358699
15         NaN  0.306271     1.804499e+06       14652.528259
16         NaN  0.312919     1.932442e+06       15691.426779
17         NaN  0.319533     2.072429e+06       16828.120904
18         NaN  0.326109     2.225906e+06       18074.356000
19         NaN  0.332724     2.393870e+06       19438.224087
20         NaN  0.339430     2.577515e+06       20929.421410
21         NaN  0.346193     2.778248e+06       22559.376532
22         NaN  0.353140     2.997186e+06       24337.151808
23         NaN  0.360203     3.235852e+06       26275.116249
24         NaN  0.367444     3.495705e+06       28385.125094
25         NaN  0.374835     3.778859e+06       30684.337836
26         NaN  0.382409     4.086206e+06       33179.989162
27         NaN  0.390176     4.419717e+06       35888.098299
28         NaN  0.398100     4.781769e+06       38827.963810
29         NaN  0.406204     5.174110e+06       42013.772131

# Furnace Heating Cost

In [138]:
# Parameters
price_fuel                                      = 3.8
Fc                                              = 1.75

for i in df_dict.keys():
    df = df_dict[i]
    Furnace_Q                                   = df['FURNACEQ']*(3412141.6/10**6)            # in UNIT: BTU * 10^6 

    # Annual Operating Cost
    annual_operating_cost                       = Furnace_Q*price_fuel*plant_runtime

    # installation cost
    installation_cost                           = MandS/280 * 5.52*10**3 * Furnace_Q**0.85 * (1.27+Fc)
    total_capital_investment                    = 2.09*installation_cost
    annual_capital_investment                   = 1/3*total_capital_investment

    # Total annual furnace cost
    annual_furnace_cost                         = annual_operating_cost+annual_capital_investment

    # Create a dataframe for furnace cost
    Furnace_Cost = pd.DataFrame({
        'Furnace_Cost'                          : {},
        'XTOL'                                  : df['XTOL'],
        'annual_operating_cost'                 : annual_operating_cost,
        'installation_cost'                     : installation_cost,
        "total_capital_investment"              : total_capital_investment,
        "annual_capital_investment"             : annual_capital_investment,
        'annual_furnace_cost'                   : annual_furnace_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Furnace_Cost']                       = Furnace_Cost

# Display 
EP['T=820K,P=6atm']['Furnace_Cost']

,Furnace_Cost,XTOL,annual_operating_cost,installation_cost,total_capital_investment,annual_capital_investment,annual_furnace_cost
0,NaN,0.056012,1.488846e+07,2.040247e+07,4.264116e+07,1.421372e+07,2.910217e+07
1,NaN,0.097008,8.895116e+06,1.316859e+07,2.752236e+07,9.174119e+06,1.806924e+07
2,NaN,0.131223,6.822393e+06,1.051010e+07,2.196610e+07,7.322034e+06,1.414443e+07
3,NaN,0.160000,5.834842e+06,9.202063e+06,1.923231e+07,6.410771e+06,1.224561e+07
4,NaN,0.183463,5.294177e+06,8.472062e+06,1.770661e+07,5.902203e+06,1.119638e+07
5,NaN,0.203611,4.988888e+06,8.054965e+06,1.683488e+07,5.611625e+06,1.060051e+07
6,NaN,0.220616,4.829724e+06,7.836000e+06,1.637724e+07,5.459080e+06,1.028880e+07
7,NaN,0.235173,4.766816e+06,7.749159e+06,1.619574e+07,5.398581e+06,1.016540e+07
8,NaN,0.247703,4.776013e+06,7.761866e+06,1.622230e+07,5.407433e+06,1.018345e+07
9,NaN,0.258633,4.841857e+06,7.852729e+06,1.641220e+07,5.470735e+06,1.031259e+07
10,NaN,0.268319,4.955087e+06,8.008553e+06,1.673788e+07,5.579292e+06,1.053438e+07
11,NaN,0.277029,5.110537e+06,8.221614e+06,1.718317e+07,5.727724e+06,1.083826e+07
12,NaN,0.284946,5.306258e+06,8.488493e+06,1.774095e+07,5.913650e+06,1.121991e+07
13,NaN,0.292393,5.537971e+06,8.802551e+06,1.839733e+07,6.132444e+06,1.167041e+07
14,NaN,0.299457,5.806633e+06,9.164235e+06,1.915325e+07,6.384417e+06,1.219105e+07
15,NaN,0.306271,6.112336e+06,9.572747e+06,2.000704e+07,6.669014e+06,1.278135e+07
16,NaN,0.312919,6.457128e+06,1.002984e+07,2.096236e+07,6.987454e+06,1.344458e+07
17,NaN,0.319533,6.840587e+06,1.053392e+07,2.201588e+07,7.338628e+06,1.417922e+07
18,NaN,0.326109,7.267206e+06,1.108978e+07,2.317763e+07,7.725878e+06,1.499308e+07
19,NaN,0.332724,7.738737e+06,1.169850e+07,2.444986e+07,8.149953e+06,1.588869e+07
20,NaN,0.339430,8.257916e+06,1.236233e+07,2.583727e+07,8.612424e+06,1.687034e+07
21,NaN,0.346193,8.830057e+06,1.308668e+07,2.735116e+07,9.117053e+06,1.794711e+07
22,NaN,0.353140,9.456251e+06,1.387144e+07,2.899131e+07,9.663771e+06,1.912002e+07
23,NaN,0.360203,1.014318e+07,1.472341e+07,3.077193e+07,1.025731e+07,2.040049e+07
24,NaN,0.367444,1.089404e+07,1.564484e+07,3.269772e+07,1.089924e+07,2.179328e+07
25,NaN,0.374835,1.171626e+07,1.664298e+07,3.478383e+07,1.159461e+07,2.331087e+07
26,NaN,0.382409,1.261378e+07,1.772062e+07,3.703610e+07,1.234537e+07,2.495915e+07
27,NaN,0.390176,1.359291e+07,1.888322e+07,3.946594e+07,1.315531e+07,2.674823e+07
28,NaN,0.398100,1.466310e+07,2.013967e+07,4.209190e+07,1.403063e+07,2.869373e+07
29,NaN,0.406204,1.583092e+07,2.149516e+07,4.492489e+07,1.497496e+07,3.080588e+07

# Pump Cost

In [139]:
# Parameters
molar_volume = {
    'Toluene'                                   : 0.105993113,
    'Methanol'                                  : 0.040330365,
    'Benzene'                                   : 0.088961406,
    'Acetonitrile'                              : 0.052487604
}
pressure_drop                                   = 506625
price_electricity                               = 0.035

for i in df_dict.keys():
    df = df_dict[i]

    shaft_work                                  = (df['INTOL']*molar_volume['Toluene'] 
                                                   + df["INMETH"]*molar_volume['Methanol'] 
                                                   + df['INBENZ']*molar_volume['Benzene'] 
                                                   + df['INACET']*molar_volume['Acetonitrile']) * pressure_drop / (3600)

    shaft_work_hp = shaft_work/745.7

    # Annual Operating Cost 
    annual_operating_cost                       = shaft_work_hp * price_electricity * plant_runtime

    # Installation Cost
    installation_cost                           = (MandS/1415)*(-1100+2100*(shaft_work/1000)**0.6)
    total_capital_investment                    = 2.09*installation_cost
    annual_capital_investment                   = 1/3*total_capital_investment

    # Total annual furnace cost
    annual_pump_cost                           = annual_operating_cost+annual_capital_investment

    # Create a dataframe for furnace cost
    Pump_Cost = pd.DataFrame({
        'Pump_Cost'                             : {},
        'XTOL'                                  : df['XTOL'],
        'annual_operating_cost'                 : annual_operating_cost,
        'installation_cost'                     : installation_cost,
        "total_capital_investment"              : total_capital_investment,
        "annual_capital_investment"             : annual_capital_investment,
        'annual_pump_cost'                      : annual_pump_cost
    })

    # Save the dataframe in the dictionary
    EP[i]['Pump_Cost']                         = Pump_Cost

# Display 
EP['T=820K,P=6atm']['Pump_Cost']

,Pump_Cost,XTOL,annual_operating_cost,installation_cost,total_capital_investment,annual_capital_investment,annual_pump_cost
0,NaN,0.056012,19593.727310,26941.283825,56307.283195,18769.094398,38362.821708
1,NaN,0.097008,11707.863044,19408.452537,40563.665802,13521.221934,25229.084978
2,NaN,0.131223,8980.753481,16347.754518,34166.806943,11388.935648,20369.689128
3,NaN,0.160000,7681.497815,14759.391192,30847.127591,10282.375864,17963.873679
4,NaN,0.183463,6974.204715,13849.492680,28945.439701,9648.479900,16622.684615
5,NaN,0.203611,6576.427603,13321.542907,27842.024675,9280.674892,15857.102494
6,NaN,0.220616,6370.861154,13043.704281,27261.341947,9087.113982,15457.975136
7,NaN,0.235173,6292.025827,12936.203640,27036.665607,9012.221869,15304.247696
8,NaN,0.247703,6308.233240,12958.348028,27082.947379,9027.649126,15335.882367
9,NaN,0.258633,6399.209633,13082.230318,27341.861365,9113.953788,15513.163421
10,NaN,0.268319,6552.815015,13289.807099,27775.696837,9258.565612,15811.380627
11,NaN,0.277029,6762.311956,13569.802758,28360.887765,9453.629255,16215.941211
12,NaN,0.284946,7025.162668,13916.245689,29084.953491,9694.984497,16720.147165
13,NaN,0.292393,7335.777527,14319.027404,29926.767274,9975.589091,17311.366618
14,NaN,0.299457,7695.459677,14777.006771,30883.944151,10294.648050,17990.107728
15,NaN,0.306271,8104.361176,15287.378601,31950.621276,10650.207092,18754.568268
16,NaN,0.312919,8565.245066,15850.437837,33127.415080,11042.471693,19607.716759
17,NaN,0.319533,9077.551328,16462.278853,34406.162802,11468.720934,20546.272263
18,NaN,0.326109,9647.281726,17126.696945,35794.796615,11931.598872,21578.880597
19,NaN,0.332724,10276.767270,17842.802264,37291.456732,12430.485577,22707.252848
20,NaN,0.339430,10969.655937,18611.037027,38897.067387,12965.689129,23935.345066
21,NaN,0.346193,11733.003256,19435.249230,40619.670891,13539.890297,25272.893553
22,NaN,0.353140,12568.279847,20312.913138,42453.988458,14151.329486,26719.609333
23,NaN,0.360203,13484.354377,21249.055704,44410.526421,14803.508807,28287.863184
24,NaN,0.367444,14485.460979,22243.448892,46488.808184,15496.269395,29981.730374
25,NaN,0.374835,15581.468043,23301.077801,48699.252604,16233.084201,31814.552244
26,NaN,0.382409,16777.607086,24421.909335,51041.790511,17013.930170,33791.537257
27,NaN,0.390176,18082.242420,25608.545114,53521.859288,17840.619763,35922.862183
28,NaN,0.398100,19507.889125,26866.724058,56151.453282,18717.151094,38225.040219
29,NaN,0.406204,21063.275909,28198.136840,58934.105997,19644.701999,40707.977908

# Economic Potential 3

## Sensitivity Analysis on Temperature and Pressure

In [140]:
for i in df_dict.keys():

    # Extract data from dictionary
    df                                          = df_dict[i]
    economic_potential_2                        = EP[i]['EP2']['economic_potential_2']
    annual_reactor_cost                         = EP[i]['Reactor_Cost']['annual_reactor_cost']
    annual_reactor_heating_cost                 = EP[i]['Reactor_Heating_Cost']['annual_reactor_heating_cost']
    annual_furnace_cost                         = EP[i]['Furnace_Cost']['annual_furnace_cost']
    annual_pump_cost                            = EP[i]['Pump_Cost']['annual_pump_cost']
    annual_water_cost                           = EP[i]['Water_Cost']['annual_water_cost']

    # Calculate Selectivity
    INTOL                                       = df['INTOL']
    OUTOL                                       = df['OUTOL']
    INPXYL                                      = df['INPXYL']
    OUTPXYL                                     = df['OUTPXYL']
    selectivity                                 = (OUTPXYL - INPXYL)/(INTOL - OUTOL)

    # Calculate Economic Potential 3
    economic_potential_3                        = (economic_potential_2
                                                   - annual_reactor_cost
                                                   - annual_reactor_heating_cost
                                                   - annual_furnace_cost
                                                   - annual_pump_cost
                                                   -annual_water_cost)
    
    # Save the dataframe in the dictionary
    EP3 = pd.DataFrame({
        'Economic Potential 3'                  : {},
        'XTOL'                                  : df['XTOL'],
        'selectivity'                           : selectivity,
        'economic_potential_2'                  : economic_potential_2,
        'annual_reactor_cost'                   : annual_reactor_cost,
        'annual_reactor_heating_cost'           : annual_reactor_heating_cost,
        'annual_furnace_cost'                   : annual_furnace_cost,
        'annual_pump_cost'                      : annual_pump_cost,
        'annual_water_cost'                     : annual_water_cost,
        'economic_potential_3'                  : economic_potential_3
    })

    EP[i]['EP3']                                = EP3

EP['T=820K,P=6atm']['EP3']

,Economic Potential 3,XTOL,selectivity,economic_potential_2,annual_reactor_cost,annual_reactor_heating_cost,annual_furnace_cost,annual_pump_cost,annual_water_cost,economic_potential_3
0,NaN,0.056012,0.915568,4.383497e+07,7.528113e+04,143308.436451,2.910217e+07,38362.821708,6826.736223,1.446902e+07
1,NaN,0.097008,0.885791,5.213064e+07,8.475896e+04,146481.250939,1.806924e+07,25229.084978,7060.644187,3.379788e+07
2,NaN,0.131223,0.854624,5.375756e+07,9.548759e+04,149945.226046,1.414443e+07,20369.689128,7319.149848,3.934001e+07
3,NaN,0.160000,0.822139,5.337864e+07,1.076385e+05,153751.056576,1.224561e+07,17963.873679,7606.896531,4.084606e+07
4,NaN,0.183463,0.788610,5.202141e+07,1.214069e+05,157911.370722,1.119638e+07,16622.684615,7925.860488,4.052116e+07
5,NaN,0.203611,0.754172,5.002542e+07,1.370149e+05,162460.865119,1.060051e+07,15857.102494,8279.877237,3.910129e+07
6,NaN,0.220616,0.719031,4.750391e+07,1.547166e+05,167426.943699,1.028880e+07,15457.975136,8672.448414,3.686883e+07
7,NaN,0.235173,0.683437,4.451163e+07,1.748021e+05,172832.338781,1.016540e+07,15304.247696,9106.929351,3.397419e+07
8,NaN,0.247703,0.647609,4.106110e+07,1.976014e+05,178707.568581,1.018345e+07,15335.882367,9587.541535,3.047642e+07
9,NaN,0.258633,0.611794,3.714029e+07,2.234924e+05,185079.445587,1.031259e+07,15513.163421,10118.481125,2.639350e+07
10,NaN,0.268319,0.576212,3.273084e+07,2.529061e+05,191979.504687,1.053438e+07,15811.380627,10704.632249,2.172506e+07
11,NaN,0.277029,0.541114,2.779374e+07,2.863348e+05,199430.970597,1.083826e+07,16215.941211,11350.485098,1.644215e+07
12,NaN,0.284946,0.506660,2.228389e+07,3.243407e+05,207479.010361,1.121991e+07,16720.147165,12062.785343,1.050338e+07
13,NaN,0.292393,0.473090,1.616870e+07,3.675661e+05,216140.081410,1.167041e+07,17311.366618,12846.133614,3.884425e+06
14,NaN,0.299457,0.440556,9.390823e+06,4.167454e+05,225451.528245,1.219105e+07,17990.107728,13707.358699,-3.474122e+06
15,NaN,0.306271,0.409214,1.889550e+06,4.727171e+05,235437.911722,1.278135e+07,18754.568268,14652.528259,-1.163336e+07
16,NaN,0.312919,0.379146,-6.406797e+06,5.364406e+05,246157.918309,1.344458e+07,19607.716759,15691.426779,-2.066928e+07
17,NaN,0.319533,0.350498,-1.556244e+07,6.090111e+05,257606.242762,1.417922e+07,20546.272263,16828.120904,-3.064564e+07
18,NaN,0.326109,0.323292,-2.566044e+07,6.916838e+05,269851.023065,1.499308e+07,21578.880597,18074.356000,-4.165471e+07
19,NaN,0.332724,0.297582,-3.679558e+07,7.858901e+05,282917.627784,1.588869e+07,22707.252848,19438.224087,-5.379522e+07
20,NaN,0.339430,0.273392,-4.906015e+07,8.932683e+05,296842.050352,1.687034e+07,23935.345066,20929.421410,-6.716547e+07
21,NaN,0.346193,0.250692,-6.257570e+07,1.015698e+06,311670.601040,1.794711e+07,25272.893553,22559.376532,-8.189801e+07
22,NaN,0.353140,0.229534,-7.741693e+07,1.155321e+06,327422.534752,1.912002e+07,26719.609333,24337.151808,-9.807075e+07
23,NaN,0.360203,0.209830,-9.374648e+07,1.314592e+06,344141.659070,2.040049e+07,28287.863184,26275.116249,-1.158603e+08
24,NaN,0.367444,0.191550,-1.116785e+08,1.496319e+06,361861.397579,2.179328e+07,29981.730374,28385.125094,-1.353884e+08
25,NaN,0.374835,0.174626,-1.313966e+08,1.703714e+06,380652.879367,2.331087e+07,31814.552244,30684.337836,-1.568543e+08
26,NaN,0.382409,0.159022,-1.530052e+08,1.940459e+06,400500.243019,2.495915e+07,33791.537257,33179.989162,-1.803723e+08
27,NaN,0.390176,0.144662,-1.767026e+08,2.210758e+06,421454.812993,2.674823e+07,35922.862183,35888.098299,-2.061548e+08
28,NaN,0.398100,0.131466,-2.026970e+08,2.519434e+06,443585.384737,2.869373e+07,38225.040219,38827.963810,-2.344308e+08
29,NaN,0.406204,0.119369,-2.311911e+08,2.871999e+06,466914.990354,3.080588e+07,40707.977908,42013.772131,-2.654186e+08

# Export all the data

In [141]:
for i in df_dict.keys():
    single_df = pd.DataFrame({})
    for j in EP[i].keys():
        single_df = pd.concat([single_df,EP[i][j]], axis=1)
    single_df.to_excel(f'{i}.xlsx', index=False)