# Round 31

In [1]:
import pandas as pd

# Quantity
total_card                              = 52

# Price
price_revealed                          = [0,0,0,0]

# Define list for row name and column name for pandas dataframe
securities                              = ['clover','diamond','heart','spade']
prices_names                            = ['price revealed']


################## Calculate price of securities ##################

revealed_card = []

print("Input")

# Input cards that are revealed
for j in securities:
    revealed_card_str                   = input(f"revealed {j}: ")
    revealed_card.append(float(revealed_card_str))

# Calculate price revealed and price that I can find using my cards
total_revealed                          = total_card - sum(revealed_card)

for j in range(4):
    price_revealed[j]                   = ((total_card/4 - revealed_card[j]) / total_revealed * 100)

price_revealed

df                                      = pd.DataFrame([price_revealed],
                                                       columns=securities,
                                                       index=prices_names)
print("")
print("Price Table:")
df

Input
revealed clover: 11
revealed diamond: 13
revealed heart: 13
revealed spade: 12

Price Table:

                   clover  diamond  heart      spade
price revealed  66.666667      0.0    0.0  33.333333